
{% extends "layout.html" %}

{% block title %}
  <title>Articles and Media</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Books, Articles, Papers, Media</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

      <p>Articles, books, academic papers, and other printed or media items about the Principled Societies Project or the LEDDA Framework are collected here.<p>

      <hr >
      <p>Boik JC. LEDDA Framework: Innovation for Thriving, Resilient Communities. <a href="http://delange.rice.edu/" >De Lange Conference X: Humans, Machines, and the Future of Work</a>. Poster Presentation. Rice University, Houston, TX; 2015.</p>

      <hr >
      <p>Boik JC. Optimality of Social Choice Systems: Implications for Governance, Economics, and Public Health <i>preprint server</i>;  2015.
      <a href="">link</a> </p>

      <hr >
      <p><img src="static/images/FP.png" alt="FP" width="132" height="107" />  <strong>March 16, 2015:</strong> "<a title="Rebooting Democracy" href="http://foreignpolicy.com/2015/03/16/rebooting-democracy-participatory-reform-capitalism/" target="_blank">Rebooting Democracy</a>" in <em>Foreign Policy Magazine</em>, by John Boik, Lorenzo Fioramonti, and Gary Milante.</p>

      <p>On March 18, 2015, Aspen Institute chose the article as one of the <a href="http://aspen.us/ideas/2015-03-18" target="_blank">Five Best Ideas of the Day</a>.  The list was picked up by <a href="http://time.com/3748887/five-best-ideas-of-the-day-march-18/" target="_blank">Time Magazine</a>.</p>

      <hr >
      <p>Boik JC. First Micro-Simulation Model of a LEDDA Community Currency-Dollar Economy. <i>International Journal of Community Currency Research</i>;  2015.
      <a href="http://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/">link</a> </p>

      <hr />
      <p><img src="static/images/shareable.png" alt="shareable" width="233" height="45" />  <strong>December 2, 2014:</strong> "<a title="Shareable interview" href="http://www.shareable.net/blog/can-a-complementary-currency-help-end-poverty-a-qa-with-john-boik" target="_blank">Can a Complementary Currency Help End Poverty? A Q&amp;A with John Boik</a>" in <em>Shareable</em>, by Cat Johnson.</p>

      <hr />
      <p><img src="static/images/European_SIR.png" alt="European_SIR" width="200" height="92" /> <strong>October 30, 2014:</strong> "<a href="http://siresearch.eu/blog/partnership-explore-new-funding-sources-innovators" target="_blank">Partnership to Explore New Funding Sources for Innovators</a>" in <em>European Social Innovation Research Blog</em>, by Georg Mildenberger.</p>

      <hr />
      <p><img src="static/images/Truthout.png" alt="Truthout" width="106" height="135" /> <strong>October 20, 2014:</strong> "<a href="http://truth-out.org/speakout/item/26942-competing-with-capitalism-to-maximize-well-being" target="_blank">Competing with Capitalism to Maximize Well-Being</a>" in <em>Truthout</em>, by Lorenzo Fioramonti and John Boik.</p>

      <hr />
      <p>Boik JC. <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i>. Site for Change; 2014.
      <a href="/book">link</a> </p>


      <hr />
      <p>Local Financial System Animation. Our first animated video, <i>Principled Societies Project Part I: A Local Financial System</i> introduces the Token Exchange System. The video stems from John Boik’s 2012 book, <i>Creating Sustainable Societies</i> (which is superseded by Economic Direct Democracy), and so is a bit outdated. </p>

      <iframe width="679" height="412" src="https://www.youtube.com/embed/xGmKcS5PbDE" frameborder="0" allowfullscreen></iframe>

      <br>
      <br>

    </div>
  </div>



{% endblock %}


