
{% extends "layout.html" %}

{% block title %}
    <title>Articles, Papers, Books, Media</title>
{% endblock %}


{% block page_head %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35447340-1', 'auto');
        ga('send', 'pageview');
    </script>

    <meta property="fb:app_id" content="312890269112844" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="PSP Articles and Media" />
    <meta property="og:description" content="List of articles, books, papers, and media discussing the Principled Societies Project" />
    <meta property="og:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta property="og:url" content="https://principledsocietiesproject.org/articles_media" />
    <meta property="og:site_name" content="Principled Societies Project" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="PSP Articles and Media" />
    <meta name="twitter:description" content="List of articles, books, papers, and media discussing the Principled Societies Project" />
    <meta name="twitter:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta name="twitter:site" content="@JohnBoik" />
    <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h1>Books, Papers, Articles, and Media</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

        <p>Books, academic papers, blog articles, media, and other works about the Principled Societies Project and LEDDA Framework are 
            collected here.   
        <p>
    </div>
</div>


<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Books</h2>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

        <p>
            <img src="static/images/front-cover-200h.png" alt="Economic Direct Democracy" height="180"/>&nbsp;
            Boik JC. 
            <a href="/book_edd_about"><i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i></a>. 
            SiteForChange.com; 2014. 
        </p>
    </div>
</div>        
        

<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Academic/Technical Papers and Posters</h2>
        </div>
    </div>
</div>
        
        
<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

        <hr >
        <p>
            <img src="static/images/arxiv.png" alt="arXiv" height="75"/>&nbsp;
            Boik JC. 
            <a href="https://arxiv.org" target="blank"> [submitted]
                Science-Driven Societal Transformation, Part I: Worldview</a>.
            arXiv preprint; 2020.
        </p>


        <hr >
        <p>
            <img src="static/images/arxiv.png" alt="arXiv" height="75"/>&nbsp;
            Boik JC. 
            <a href="https://arxiv.org" target="blank"> [submitted]
                Science-Driven Societal Transformation, Part II: Motivation and Strategy</a>.
            arXiv preprint; 2020.
        </p>


        <hr >
        <p>
            <img src="static/images/arxiv.png" alt="arXiv" height="75"/>&nbsp;
            Boik JC. 
            <a href="https://arxiv.org" target="blank"> [submitted]
                Science-Driven Societal Transformation, Part III: Design</a>.
            arXiv preprint; 2020.
        </p>


        <hr >
        <p>
            <img src="static/images/ideas2.gif" alt="Ideas" height="75"/>&nbsp;
            Boik JC. 
            <a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">
                Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality</a>.
            RePEc Working Paper; 2016.
        </p>


        <hr >
        <p>
            <img src="static/images/delangeX_banner20160526.jpg" alt="De Lange" height="75"/>&nbsp;
            Boik JC. LEDDA Framework: Innovation for Thriving, Resilient Communities. 
            <a href="rice_poster" >
                De Lange Conference X: Humans, Machines, and the Future of Work</a>. 
            Poster Presentation. Rice University, Houston, TX; 2016.
        </p>


        <hr >
        <p>
            <img src="static/images/money_1832551c.jpg" alt="IJCCR" height="75"/>&nbsp;
            Boik JC.
            <a href="http://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/" target="bank">
                First Micro-Simulation Model of a LEDDA Community Currency-Dollar Economy</a>. 
                <i>International Journal of Community Currency Research</i>; 2014.
        </p>


    </div>
</div>        


<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Blog Articles</h2>
        </div>
    </div>
</div>
        
        
<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
        <p>
            Please share and republish blog articles. 
            <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" 
                style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a> 
                These works are licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">
                    Creative Commons Attribution-NoDerivatives 4.0 International License</a>. 
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="Questions" src={{ url_for('static', filename="images/bridge.jpg") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/@JohnBoik/two-question-could-help-save-us-from-collapse-de6bdaa0f95f">Two Questions Could Help Save Us From Collapse</a>. 
        Feb 11, 2019.
        </p>

        
        <hr >
        <p>
        <img class="blog-list-pic" alt="Equality" src={{ url_for('static', filename="images/inequality.jpeg") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/@JohnBoik/equality-a-beneficial-alternative-to-collapse-5c621701607a">Equality: A Beneficial Alternative to Collapse</a>. 
        May 28, 2018.
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="Metamodel of new systems" src={{ url_for('static', filename="images/metamodel.png") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/@JohnBoik/metamodel-for-new-social-choice-systems-809408b1761e">Metamodel for New Social Choice Systems</a>. 
        March 19, 2018.
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="Problem-solving process" src={{ url_for('static', filename="images/intelligent_community_brief.png") }}>&nbsp;
        Boik JC. 
        <a href="https://extranewsfeed.com/solving-problems-that-matter-the-ideal-of-democracy-and-capitalism-db2eae9b438b">Is Solving Problems the Ideal of Democracy and Capitalism?</a>. 
        April 17, 2017.
        </p>

        <hr >
        <p>
        <img class="blog-list-pic" alt="The next big thing" src={{ url_for('static', filename="images/wave.jpg") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/age-of-awareness/solving-problems-that-matter-could-be-the-next-big-thing-8a068dfa4ce2">Solving Problems That Matter Could Be the Next Big Thing</a>. 
        February 20, 2017.
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="What jobs do we find meaningful?" src={{ url_for('static', filename="images/black-and-white-man-person-street_800.jpg") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/meaning-meaningfulness/an-economy-of-meaning-or-bust-2aa46457b649">An Economy of Meaning, or Bust</a>. 
        February 3, 2017.
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="Can we can develop more meaningful economic and governance systems?" src={{ url_for('static', filename="images/industry-pollution.jpg") }}>&nbsp;
        Boik JC. 
        <a href="https://responsiblebusiness.co/wellbeing-centrality-toward-an-economics-and-politics-of-meaning-91d7c7a59c30">Wellbeing Centrality: Toward an Economics and Politics of Meaning</a>. 
        February 3, 2017.
        </p>


        <hr >
        <p>
        <img class="blog-list-pic" alt="Which economic system designs can best help us to solve problems?" src={{ url_for('static', filename="images/global-warming-2034896_1280.jpg") }}>&nbsp;
        Boik JC. 
        <a href="https://medium.com/p/why-stop-at-basic-income-and-a-living-wage-dc284d0f30a6">Why Stop at Basic Income and a Living Wage?</a> 
        February 3, 2017.
        </p>
              
        <br>

    </div>
</div>

<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Lay Articles</h2>
        </div>
    </div>
</div>
        
        
<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">


        <hr >
        <p>
            <img src="static/images/BIEN_logo_horizontal-350.png" alt="BIEN" height="75"/>&nbsp;
            Boik JC. 
            <a href="http://basicincome.org/news/2017/01/basic-incomes-mutually-supportive-cousin/" target="blank">
                Basic income’s mutually supportive cousin</a>. 
                Basic Income Earth Network; 2017.
        </p>

        <hr >
        <p>
            <img src="static/images/FP.png" alt="FP" height="75"    />&nbsp;
            Boik, JC, Fioramonti, L, Milante, G. 
            <a title="Rebooting Democracy" href="http://foreignpolicy.com/2015/03/16/rebooting-democracy-participatory-reform-capitalism/" target="_blank">
                Rebooting Democracy</a>"
                <em>Foreign Policy Magazine</em>; March 16, 2015.
        </p>

        <p>On March 18, 2015, Aspen Institute chose the article as one of the <a href="http://aspen.us/ideas/2015-03-18" target="_blank">
            Five Best Ideas of the Day</a>. The list was picked up by <a href="http://time.com/3748887/five-best-ideas-of-the-day-march-18/" target="_blank">Time Magazine</a>.
        </p>


        <hr />
        <p>
            <img src="static/images/shareable.png" alt="shareable" width="150"/>&nbsp;
            Johnson, C. "<a title="Shareable interview" href="http://www.shareable.net/blog/can-a-complementary-currency-help-end-poverty-a-qa-with-john-boik" target="_blank">
                Can a Complementary Currency Help End Poverty? A Q&amp;A with John Boik</a>. 
                <em>Shareable</em>; December 2, 2014.
        </p>


        <hr />
        <p>
            <img src="static/images/Truthout.png" alt="Truthout" height="75"/>&nbsp;
            Fioramonti, L. and Boik, JC. 
            <a href="http://truth-out.org/speakout/item/26942-competing-with-capitalism-to-maximize-well-being" target="_blank">
                Competing with Capitalism to Maximize Well-Being</a>. 
                <em>Truthout</em>; October 20, 2014.
        </p>

    </div>
</div>



<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Videos and Other Media</h2>
        </div>
    </div>
</div>
        
        
<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">


        <hr />
        <p>Local Financial System Animation. Introduces the Token Exchange System. The video stems from John Boik’s 2012 book, 
            <i>Creating Sustainable Societies</i> (which is 
            superseded by <i>Economic Direct Democracy</i>), and so is a bit outdated. A Portuguese translation is available 
            <a href="https://youtu.be/NnseGW93WJY" target="_blank">here.
        </p>

        <iframe width="679" height="412" src="https://www.youtube.com/embed/xGmKcS5PbDE" allowfullscreen></iframe>

        <br>
        <br>

    </div>
</div>

<div><a href="http://feedshark.brainbliss.com">Feed Shark</a></div>


{% endblock %}
