
{% extends "layout.html" %}

{% block title %}
  <title>PSP Articles and Media</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="PSP Articles and Media" />
  <meta property="og:description" content="List of articles and media discussing the Principled Societies Project" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/articles_media" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="PSP Articles and Media" />
  <meta name="twitter:description" content="List of articles and media discussing the Principled Societies Project" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Books, Papers, Media Articles, and More</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

      <p>Books, academic papers, media articles, and other printed or media items about the Principled Societies Project or the LEDDA Framework are collected here.<p>

      <hr >
      <p><img src="static/images/BIEN_logo_horizontal-350.png" alt="BIEN" height="75"/> Boik JC. <a href="http://basicincome.org/news/2017/01/basic-incomes-mutually-supportive-cousin/" target="blank">Basic income’s mutually supportive cousin</a>. Basic Income Earth Network; 2017.
      </p>


      <hr >
      <p><img src="static/images/ideas2.gif" alt="Ideas" height="75"/> Boik JC. <a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality</a>. RePEc Working Paper; 2016.
      </p>

      <hr >
      <p><img src="static/images/delangeX_banner20160526.jpg" alt="De Lange" height="75" /> Boik JC. LEDDA Framework: Innovation for Thriving, Resilient Communities. <a href="rice_poster" >De Lange Conference X: Humans, Machines, and the Future of Work</a>. Poster Presentation. Rice University, Houston, TX; 2016.</p>

      <hr >
      <p><img src="static/images/FP.png" alt="FP" height="75"  /> Boik, JC, Fioramonti, L, Milante, G. <a title="Rebooting Democracy" href="http://foreignpolicy.com/2015/03/16/rebooting-democracy-participatory-reform-capitalism/" target="_blank">Rebooting Democracy</a>" <em>Foreign Policy Magazine</em>; March 16, 2015.</p>

      <p>On March 18, 2015, Aspen Institute chose the article as one of the <a href="http://aspen.us/ideas/2015-03-18" target="_blank">Five Best Ideas of the Day</a>.  The list was picked up by <a href="http://time.com/3748887/five-best-ideas-of-the-day-march-18/" target="_blank">Time Magazine</a>.</p>

      <hr >
      <p><img src="static/images/money_1832551c.jpg" alt="IJCCR" height="75"  /> Boik JC. <a href="http://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/" target="bank">First Micro-Simulation Model of a LEDDA Community Currency-Dollar Economy</a>. <i>International Journal of Community Currency Research</i>;  2014.</p>

      <hr />
      <p><img src="static/images/shareable.png" alt="shareable" width="150"  />  Johnson, C. "<a title="Shareable interview" href="http://www.shareable.net/blog/can-a-complementary-currency-help-end-poverty-a-qa-with-john-boik" target="_blank">Can a Complementary Currency Help End Poverty? A Q&amp;A with John Boik</a>. <em>Shareable</em>; December 2, 2014.</p>

      <hr />
      <p><img src="static/images/Truthout.png" alt="Truthout" height="75"  /> Fioramonti, L. and Boik, JC. <a href="http://truth-out.org/speakout/item/26942-competing-with-capitalism-to-maximize-well-being" target="_blank">Competing with Capitalism to Maximize Well-Being</a>. <em>Truthout</em>; October 20, 2014.</p>

      <hr />
      <p><img src="static/images/front-cover-200h.png" alt="Economic Direct Democracy" height="100"  /> Boik JC. <a href="/book_edd_about"><i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i></a>. SiteForChange.com; 2014. </p>


      <hr />
      <p>Local Financial System Animation. Our first animated video, <i>Principled Societies Project Part I: A Local Financial System</i> introduces the Token Exchange System. The video stems from John Boik’s 2012 book, <i>Creating Sustainable Societies</i> (which is superseded by <i>Economic Direct Democracy</i>), and so is a bit outdated. </p>

      <iframe width="679" height="412" src="https://www.youtube.com/embed/xGmKcS5PbDE" allowfullscreen></iframe>

      <br>
      <br>

    </div>
  </div>
</div>

{% endblock %}


