
{% extends "layout.html" %}


{% block title %}
<title>Download Economic Direct Democracy</title>
{% endblock %}

{% block page_head %}
  <style>
    .p-sect ol, .p-sect li {
      font-size: 12pt;
      line-height: 1.7em;
    }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="Download Economic Direct Democracy" />
  <meta property="og:description" content="Download the book Economic Direct Democracy" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/book_edd_download" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Download Economic Direct Democracy" />
  <meta name="twitter:description" content="Download the book Economic Direct Democracy" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Download <i>Economic Direct Democracy</i></h1>
      </div>
    </div>

    <div class="col col-lg-12 col-xl-12 p-sect">

      <p><em>Economic Direct Democracy</em> can be ordered in paperback and e-book format at Amazon and other booksellers. In addition, a free PDF version is being made available here to spread the ideas in the book as widely as possible. We hope that the book contributes to an international dialogue about optimal social choice systems. The PDF version is free, but to help spread the ideas and support our efforts we ask four things:
      </p>
      <ol>
          <li>Mention the book to others. Consider writing a review for Amazon.com, or mentioning the book in a post, tweet, or blog article. If you write an article, we know of blogs that might like to publish it. Please drop us a note if we can help.</li>
          <li>Consider <a title="Economic Direct Democracy at Amazon" href="http://www.amazon.com/Economic-Direct-Democracy-Framework-Well-Being-ebook/dp/B00KNOQ872" target="_blank">purchasing</a> a paperback or e-book version from Amazon or other booksellers.  Maybe send one to a friend or colleague.</li>
          <li>Consider making a <a href="donation">donation</a> to the Principled Societies Project. Your support is very important.</li>
          <li>Sign up for our low-volume newsletter (subscribe form on top of each page)</li>
      </ol>

      <p><a href="/static/data/Economic_Direct_Democracy_Donation_Version_05-30-2014.pdf">download here</a> (right click to 'save link as')</p> 
      <p>The file is large (~4 MB) and might take a few moments to download. If you have any problem, please <a title="Contact the Principled Societies Project" href="contact">tell us</a> so that we can fix it.</p>

    </div>
  </div>

</div>

{% endblock %}

