
{% extends "layout.html" %}
{% block body2 %}


<a title="About the Book" href="http://www.principledsocietiesproject.org/book/"><em>Economic Direct Democracy</em></a> is made available to the public via a Creative Commons Attribution--NonCommercial--NoDerivatives <a title="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">license</a>. This license grants generous rights to copy, distribute, and modify the book, subject to certain restrictions. A <a title="Download the Book" href="http://www.principledsocietiesproject.org/edd-download/">free PDF copy</a> of the book is available for download.

The book may be periodically updated with corrections and improvements. Revised versions may be posted to this website. If you find errors or have a suggested improvement, please <a title="Contact" href="http://www.principledsocietiesproject.org/contact/">contact PSP</a>.

The author receives compensation for his efforts through a progressive business model:
<ul>
	<li>The book can be purchased in paperback and Kindle formats from Amazon and other booksellers.</li>
	<li>Those who download the free version are asked to <a title="Donation/Coupon Campaign" href="http://www.principledsocietiesproject.org/donation">donate</a> to the Principled Societies Project. The author will receive some salary from the Project, once it has sufficient funds.</li>
</ul>
<h2>SiteForChange</h2>
SiteForChange is the sole proprietorship publishing business that brought <em>Economic Direct Democracy</em> to life. The company is owned by John Boik and serves three purposes:
<ol>
	<li>To spread the LEDDA concept.</li>
	<li>To generate funds for the Principled Societies Project.</li>
	<li>To generate income for the author by selling books he has written.</li>
</ol>
John also published his 2012 book <em>Creating Sustainable Societies</em> through SiteForChange. That book is now out of print and has been superseded by <em>Economic Direct Democracy</em>.

The terms <em>LEDDA</em>, <em>Local Economic Direct Democracy Association</em>, <em>Certified LEDDA</em>, <em>Principled Business</em>, <em>Certified Principled Business</em>, and <em>Token Exchange System</em> are trademarks of John Boik.

&nbsp;

{% endblock %}

