
{% extends "layout.html" %}

{% block title %}
<title>About the Book</title>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h2>About <i>Economic Direct Democracy</i></h2>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
      <h3 class="blue-sect">Details</h3>

      <p><em>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being
      </em>Author: John C. Boik
      Paperback: $20;   <a title="Amazon" href="http://www.amazon.com/Economic-Direct-Democracy-Framework-Well-Being/dp/1499640595" target="_blank">Available at Amazon</a> and elsewhere.
      ISBN-10: 1499640595;   ISBN-13: 978-1499640595
      Library of Congress Control Number: 2014909756
      Published in the United States of America by SiteForChange, Houston, TX, at CreateSpace Independent Publishing Platform, North Charleston, SC
      Pub Date: May 30, 2014; 255 pages; 6" x 9"
      E-book: $9.99  <a href="http://www.amazon.com/Economic-Direct-Democracy-Framework-Well-Being-ebook/dp/B00KNOQ872" target="_blank">Available at Amazon</a>.
      ASIN: B00KNOQ872
      </p>
      <p>Free PDF copy:   Available for <a title="Download the Book" href="book_edd_download/">download</a>.</p>

      <h3 class="blue-sect">Description</h3>

      <p><em>From the back cover:</em></p>

      <p>The world faces serious economic, environmental, and social challenges. Unfettered capitalism itself is increasingly seen as part of the problem, as Thomas Piketty, Joseph Stiglitz, and other economists demonstrate.</p>
      
      <div class="image_200">
        <img src="/static/images/front-cover-400h.png" alt="Book Front">
      </div>

      <p>In <em>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</em>, John Boik proposes an innovative social framework that enables communities to strengthen local economies, and take meaningful action on infrastructure, debt, income inequality, health care, climate change, and environmental degradation. He challenges us to examine the basic purpose of an economic system, and to consider that human nature drives individuals toward deeper cooperation.</p>

      <p>Boik's proposal integrates multiple local movement, participatory democracy, and open society initiatives into a single framework that helps organize and enhance existing city, county, and regional economies. By infusing a local economy with 21st century direct democracy, the system empowers local areas to take the lead in making real change. The hopeful message is that we can increase incomes, end poverty, reach full employment, and address major social and environmental problems, in our lifetime.</p>
      <br>
      <h3 class="blue-sect">About SiteForChange</h3>
      <p>SiteForChange is the sole proprietorship publishing business that brought <em>Economic Direct Democracy</em> to life. The company is owned by John Boik. John also published his 2012 book <em>Creating Sustainable Societies</em> through SiteForChange. That book is now out of print and has been superseded by <em>Economic Direct Democracy</em>.</p>

    </div>

  </div>
</div>


<h2>About SiteForChange</h2>
<p>SiteForChange is the sole proprietorship publishing business that brought <em>Economic Direct Democracy</em> to life. The company is owned by John Boik. John also published his 2012 book <em>Creating Sustainable Societies</em> through SiteForChange. That book is now out of print and has been superseded by <em>Economic Direct Democracy</em>.</p>


<p><em>Economic Direct Democracy</em> is made available to the public via a Creative Commons Attribution--NonCommercial--NoDerivatives <a title="license" href="http://creativecommons.org/licenses/by-nc-nd/4.0/" target="_blank">license</a>. This license grants generous rights to copy, distribute, and modify the book, subject to certain restrictions.</p>

<p>The book may be periodically updated with corrections and improvements. Revised versions may be posted to this website. If you find errors or have a suggested improvement, please <a title="Contact" href="contact">contact PSP</a>.</p>

<p>The terms <em>Local Economic Direct Democracy Association (LEDDA)</em>, <em>Certified LEDDA</em>, <em>Principled Business</em>, <em>Certified Principled Business</em>, and <em>Token Exchange System</em> are trademarks of John Boik.</p>





<h2>Images</h2>
Front Cover (600 x 400 px)

<a href="static/images/front-cover-600h.png"><img src="static/images/front-cover-600h.png" alt="front-cover-600h" width="400" height="599" /></a>

Front Cover (400 x 267 px)

<a href="static/images/front-cover-400h.png"><img src="static/images/front-cover-400h.png" alt="front-cover-400h" width="200" height="300" /></a>

Front Cover (200 x 133 px)

<a href="static/images/front-cover-200h.png"><img src="static/images/front-cover-200h.png" alt="front-cover-200h" width="133" height="199" /></a>

&nbsp;

{% endblock %}

