
{% extends "layout.html" %}


{% block title %}
  <title>TOC for Economic Direct Democracy</title>
{% endblock %}


{% block page_head %}
  <style>
  .chapter-subsect {
    padding-left: 2.5em;
  }
  .chapter-content {
    padding-left: 5em;
  }
  .toc div {
    margin-bottom: .6em;
  }
  </style>

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="TOC for Economic Direct Democracy" />
  <meta property="og:description" content="Table of contents for the book Economic Direct Democracy" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/book_edd_toc" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="TOC for Economic Direct Democracy" />
  <meta name="twitter:description" content="Table of contents for the book Economic Direct Democracy" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Table of Contents for <i>Economic Direct Democracy</i></h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect toc">

      <div>Foreword by Lorenzo Fioramonti</div>
      <div>Preface</div>
      <div>Abbreviations and Glossary</div>
      <div><strong>Chapter 1: Getting There From Here</strong></div>
        <div class="chapter-subsect">1.1 A Confluence of Crises</div>
          <div class="chapter-content">Six Challenges</div>
          <div class="chapter-content">Local Problems</div>
        <div class="chapter-subsect">1.2 Purpose</div>
        <div class="chapter-subsect">1.3 Strategy</div>
        <div class="chapter-subsect">1.4 Cooperation</div>
      <div><strong>Chapter 2: The LEDDA Framework and Notions of Justice</strong></div>
        <div class="chapter-subsect">2.1 Elements of the LEDDA Framework</div>
        <div class="chapter-subsect">2.2 Notions of Justice</div>
          <div class="chapter-content">Adam Smith</div>
          <div class="chapter-content">John Rawls</div>
          <div class="chapter-content">Amartya Sen</div>
          <div class="chapter-content">Rawls, Sen, Arrow, and the LEDDA Framework</div>
      <div><strong>Chapter 3: Economic Direct Democracy</strong></div>
        <div class="chapter-subsect">3.1 What Is Democracy?</div>
        <div class="chapter-subsect">3.2 Decision-Making Processes</div>
          <div class="chapter-content">Purchasing Decisions</div>
          <div class="chapter-content">Bakery Example</div>
          <div class="chapter-content">The Crowd-Based Financial System</div>
          <div class="chapter-content">Bakery Example, Continued</div>
      <div><strong>Chapter 4: LEDDA Impact</strong></div>
        <div class="chapter-subsect">4.1 Integrated Approach</div>
        <div class="chapter-subsect">4.2 LEDDA Microsimulation Model</div>
      <div><strong>Chapter 5: Income Equality</strong></div>
        <div class="chapter-subsect">5.1 Income and Wealth Distributions</div>
        <div class="chapter-subsect">5.2 Issues of Income Equality</div>
        <div class="chapter-subsect">5.3 Engagements</div>
      <div><strong>Chapter 6: Token Exchange System</strong></div>
        <div class="chapter-subsect">6.1 Overview of Local Currencies</div>
          <div class="chapter-content">Local and Regional Complementary Currencies</div>
          <div class="chapter-content">Global Complementary Currencies</div>
        <div class="chapter-subsect">6.2 Flows in the Token Exchange System</div>
          <div class="chapter-content">The Token Monetary System</div>
          <div class="chapter-content">For-Profit and Nonprofit Organizations</div>
          <div class="chapter-content">Collaborative Governance System</div>
          <div class="chapter-content">Crowd-Based Financial System</div>
          <div class="chapter-content">Loan Certificate Trading System</div>
        <div class="chapter-subsect">6.3 Legal Aspects of Local Currencies</div>
      <div><strong>Chapter 7: Principled Business Model</strong></div>
        <div class="chapter-subsect">7.1 Public Corporations</div>
        <div class="chapter-subsect">7.2 Socially Responsible Corporate Forms</div>
          <div class="chapter-content">Social Business</div>
          <div class="chapter-content">Nonprofits in the United States</div>
        <div class="chapter-subsect">7.3 Principled Business</div>
        <div class="chapter-subsect">7.4 Certifying a Principled Business</div>
        <div class="chapter-subsect">7.5 Diversity of Principled Businesses</div>
        <div class="chapter-subsect">7.6 Intellectual Property</div>
      <div><strong>Chapter 8: National Monetary and Financial Systems</strong></div>
        <div class="chapter-subsect">8.1 Eight Differences</div>
        <div class="chapter-subsect">8.2 Debt-Free Money Creation</div>
          <div class="chapter-content">The Fed, Banks, and Dollar Creation</div>
          <div class="chapter-content">The LEDDA Approach to Token Creation</div>
          <div class="chapter-content">Dollar Debt</div>
        <div class="chapter-subsect">8.3 Focus on Economic Development</div>
        <div class="chapter-subsect">8.4 Inflation-Free Money</div>
        <div class="chapter-subsect">8.5 Income Inequality</div>
        <div class="chapter-subsect">8.6 Environmental Stewardship</div>
        <div class="chapter-subsect">8.7 High Transparency</div>
        <div class="chapter-subsect">8.8 Alternative Conceptual Models</div>
      <div><strong>Chapter 9: Collaborative Governance System</strong></div>
        <div class="chapter-subsect">9.1 Three Branches of Collaborative Governance</div>
        <div class="chapter-subsect">9.2 Administrative Branch</div>
        <div class="chapter-subsect">9.3 Legislative Branch</div>
          <div class="chapter-content">Evolutionary Computation</div>
          <div class="chapter-content">Details of the Legislative Process</div>
        <div class="chapter-subsect">9.4 Judicial Branch</div>
      <div><strong>Chapter 10: Starting and Operating a LEDDA</strong></div>
        <div class="chapter-subsect">10.1 LEDDA Startup</div>
        <div class="chapter-subsect">10.2 Businesses Diversity and Distributive Enterprises</div>
        <div class="chapter-subsect">10.3 Targeting Economic Sectors</div>
          <div class="chapter-content">Food and Beverage</div>
          <div class="chapter-content">Housing</div>
          <div class="chapter-content">Transportation</div>
          <div class="chapter-content">Energy</div>
          <div class="chapter-content">Medical Care and Recreation</div>
          <div class="chapter-content">Education and Communication</div>
        <div class="chapter-subsect">10.4 Climate Change and the Environment</div>
        <div class="chapter-subsect">10.5 Interrelated Problems</div>
        <div class="chapter-subsect">10.6 Next Steps</div>
      <div>About the Author</div>
      <div>References</div>

    <!--end row-->
    </div>
  </div>

</div>

{% endblock %}

