
{% extends "layout.html" %}
{% block body2 %}

<h1>Table of Contents for <i>Economic Direct Democracy</i></h1>

<h5>Foreword by Lorenzo Fioramonti</h5>
<h5>Preface</h5>
<h5>Abbreviations and Glossary</h5>
<h5><strong>Chapter 1: Getting There From Here</strong></h5>
<h6 style="padding-left: 30px;">1.1 A Confluence of Crises</h5>
<h6 style="padding-left: 60px;">Six Challenges</h5>
<h6 style="padding-left: 60px;">Local Problems</h5>
<h6 style="padding-left: 30px;">1.2 Purpose</h5>
<h6 style="padding-left: 30px;">1.3 Strategy</h5>
<h6 style="padding-left: 30px;">1.4 Cooperation</h5>
<h5><strong>Chapter 2: The LEDDA Framework and Notions of Justice</strong></h5>
<h6 style="padding-left: 30px;">2.1 Elements of the LEDDA Framework</h5>
<h6 style="padding-left: 30px;">2.2 Notions of Justice</h5>
<h6 style="padding-left: 60px;">Adam Smith</h5>
<h6 style="padding-left: 60px;">John Rawls</h5>
<h6 style="padding-left: 60px;">Amartya Sen</h5>
<h6 style="padding-left: 60px;">Rawls, Sen, Arrow, and the LEDDA Framework</h5>
<h5><strong>Chapter 3: Economic Direct Democracy</strong></h5>
<h6 style="padding-left: 30px;">3.1 What Is Democracy?</h5>
<h6 style="padding-left: 30px;">3.2 Decision-Making Processes</h5>
<h6 style="padding-left: 60px;">Purchasing Decisions</h5>
<h6 style="padding-left: 60px;">Bakery Example</h5>
<h6 style="padding-left: 60px;">The Crowd-Based Financial System</h5>
<h6 style="padding-left: 60px;">Bakery Example, Continued</h5>
<h5><strong>Chapter 4: LEDDA Impact</strong></h5>
<h6 style="padding-left: 30px;">4.1 Integrated Approach</h5>
<h6 style="padding-left: 30px;">4.2 LEDDA Microsimulation Model</h5>
<h5><strong>Chapter 5: Income Equality</strong></h5>
<h6 style="padding-left: 30px;">5.1 Income and Wealth Distributions</h5>
<h6 style="padding-left: 30px;">5.2 Issues of Income Equality</h5>
<h6 style="padding-left: 30px;">5.3 Engagements</h5>
<h5><strong>Chapter 6: Token Exchange System</strong></h5>
<h6 style="padding-left: 30px;">6.1 Overview of Local Currencies</h5>
<h6 style="padding-left: 60px;">Local and Regional Complementary Currencies</h5>
<h6 style="padding-left: 60px;">Global Complementary Currencies</h5>
<h6 style="padding-left: 30px;">6.2 Flows in the Token Exchange System</h5>
<h6 style="padding-left: 60px;">The Token Monetary System</h5>
<h6 style="padding-left: 60px;">For-Profit and Nonprofit Organizations</h5>
<h6 style="padding-left: 60px;">Collaborative Governance System</h5>
<h6 style="padding-left: 60px;">Crowd-Based Financial System</h5>
<h6 style="padding-left: 60px;">Loan Certificate Trading System</h5>
<h6 style="padding-left: 30px;">6.3 Legal Aspects of Local Currencies</h5>
<h5><strong>Chapter 7: Principled Business Model</strong></h5>
<h6 style="padding-left: 30px;">7.1 Public Corporations</h5>
<h6 style="padding-left: 30px;">7.2 Socially Responsible Corporate Forms</h5>
<h6 style="padding-left: 60px;">Social Business</h5>
<h6 style="padding-left: 60px;">Nonprofits in the United States</h5>
<h6 style="padding-left: 30px;">7.3 Principled Business</h5>
<h6 style="padding-left: 30px;">7.4 Certifying a Principled Business</h5>
<h6 style="padding-left: 30px;">7.5 Diversity of Principled Businesses</h5>
<h6 style="padding-left: 30px;">7.6 Intellectual Property</h5>
<h5><strong>Chapter 8: National Monetary and Financial Systems</strong></h5>
<h6 style="padding-left: 30px;">8.1 Eight Differences</h5>
<h6 style="padding-left: 30px;">8.2 Debt-Free Money Creation</h5>
<h6 style="padding-left: 60px;">The Fed, Banks, and Dollar Creation</h5>
<h6 style="padding-left: 60px;">The LEDDA Approach to Token Creation</h5>
<h6 style="padding-left: 60px;">Dollar Debt</h5>
<h6 style="padding-left: 30px;">8.3 Focus on Economic Development</h5>
<h6 style="padding-left: 30px;">8.4 Inflation-Free Money</h5>
<h6 style="padding-left: 30px;">8.5 Income Inequality</h5>
<h6 style="padding-left: 30px;">8.6 Environmental Stewardship</h5>
<h6 style="padding-left: 30px;">8.7 High Transparency</h5>
<h6 style="padding-left: 30px;">8.8 Alternative Conceptual Models</h5>
<h5><strong>Chapter 9: Collaborative Governance System</strong></h5>
<h6 style="padding-left: 30px;">9.1 Three Branches of Collaborative Governance</h5>
<h6 style="padding-left: 30px;">9.2 Administrative Branch</h5>
<h6 style="padding-left: 30px;">9.3 Legislative Branch</h5>
<h6 style="padding-left: 60px;">Evolutionary Computation</h5>
<h6 style="padding-left: 60px;">Details of the Legislative Process</h5>
<h6 style="padding-left: 30px;">9.4 Judicial Branch</h5>
<h5><strong>Chapter 10: Starting and Operating a LEDDA</strong></h5>
<h6 style="padding-left: 30px;">10.1 LEDDA Startup</h5>
<h6 style="padding-left: 30px;">10.2 Businesses Diversity and Distributive Enterprises</h5>
<h6 style="padding-left: 30px;">10.3 Targeting Economic Sectors</h5>
<h6 style="padding-left: 60px;">Food and Beverage</h5>
<h6 style="padding-left: 60px;">Housing</h5>
<h6 style="padding-left: 60px;">Transportation</h5>
<h6 style="padding-left: 60px;">Energy</h5>
<h6 style="padding-left: 60px;">Medical Care and Recreation</h5>
<h6 style="padding-left: 60px;">Education and Communication</h5>
<h6 style="padding-left: 30px;">10.4 Climate Change and the Environment</h5>
<h6 style="padding-left: 30px;">10.5 Interrelated Problems</h5>
<h6 style="padding-left: 30px;">10.6 Next Steps</h5>
<h5>About the Author</h5>
<h5>References</h5>
&nbsp;

{% endblock %}

