

{% extends "layout.html" %}

{% block title %}
  <title>Collaborate</title>
{% endblock %}

{% block page_head %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35447340-1', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
      <div class="sect-header blue-sect">
        <h1>Collaborate And Engage</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

      <p>On an informal level, everyone can help by telling friends and colleagues about our efforts. If you have a website, blog, or social media account, please mention us in your posts. Any networking that you can offer is greatly appreciated. Of course, we are grateful for all <a href="donate">donations</a>, too. And please be sure to sign up for our low-volume newsletter (form is on the top of each page).
      </p>
      
      <p>The Principled Societies Project invites participation from all sectors of society, including business, government, academia, finance, nonprofit, law, labor, philanthropy, art, and media. Over time, many opportunities will exist for getting involved. Nearly all academic disciplines and scientific fields can play a role. If you would like to collaborate, volunteer, network, invite John Boik as an event speaker, or engage in some other way, please send us a message via the <a href="/contact">contact page</a>.</p>    
      
      <p>If you have coding, graphic arts, or other skills pertinent to website design, all the code to run this website, including the steady-state model, is available to the public on <a href="https://github.com/John-Boik/Principled-Societies-Project" target="blank">https://github.com/John-Boik/Principled-Societies-Project</a>. If you have an idea that could improve the model or site, please contribute via our Github repository!</p>
      
    </div>

  </div>
</div>





{% endblock %}
