

{% extends "layout.html" %}

{% block title %}
  <title>Collaborate</title>
{% endblock %}

{% block page_head %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-35447340-1', 'auto');
  ga('send', 'pageview');
</script>
{% endblock %}


{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
      <div class="sect-header blue-sect">
        <h1>Collaborate And Assist</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
      <p>The Principled Societies Project requests help from all sectors of society, including business, government, academia, finance, nonprofit, law, labor, art, and media. Over time, many opportunities will exist for getting involved as a volunteer or advisor. Nearly all academic disciplines can play a role.</p>
      <p>
On an informal level, everyone can help by telling friends and colleagues about our efforts. If you have a website, blog, or social media account, please mention us in your posts. Any networking help that you can offer is greatly appreciated. Of course, we are grateful for all donations, too. And please sign up for the <a title="Principled Societies Project Newsletter" href="http://www.principledsocietiesproject.org/newsletter/">newsletter</a>.
      </p>
      <p>
On a more formal level, we will need assistance with a number of specific tasks. To help us organize volunteers, advisors, and supporters, please fill out the contact form on the <a href="/contact">contact page</a>. It will tell us a bit about you, your interests, and skills. Press the submit button when you finish and a confirmation e-mail will be sent to you.
      </p>
    </div>

  </div>
</div>





{% endblock %}
