
{% extends "layout.html" %}

{% block title %}
<title>Donate</title>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Donations Are Appreciated</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

      <p>Please consider donating to the Principled Societies Project. Our effort is not yet funded by grants or other major sources and your donation, regardless of size, is appreciated and helpful.</p>

      <p>Tax-deductible donations are accepted on our behalf by our fiscal sponsor, <a title="fiscal sponsor" href="http://we.net/" target="_blank">We, The World</a>, a US 501(c)(3) nonprofit. Donations can be made on their website, or a check payable to <strong>We, The World</strong> in U.S. currency can be mailed to the address below. Be sure to mark on the check that the donation is for the <strong>Principled Societies Project</strong>.</p>

      <p class="we-the-world">
      <strong>We, The World<br>
      P.O. Box 750651<br>
      Forest Hills, NY 11375-0651<br>
      USA</strong>
      </p>

      <p>If your company offers a donation matching program or would like to become a sponsor of the Principled Societies Project, please <a href="contact">contact us</a>.</p>

    </div>
  </div>

</div>



{% endblock %}

