{% extends "layout.html" %}


{% block title %}
  <title>An Economy of Meaning, or Bust</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:title" content="An Economy of Meaning, or Bust" />
  <meta property="og:description" content="Current economic systems are dismal because they waste our precious time. We can pause to reevaluate, and redesign." />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/black-and-white-man-person-street_800.jpg" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/economy_of_meaning" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="An Economy of Meaning, or Bust" />
  <meta name="twitter:description" content="Current economic systems are dismal because they waste our precious time. We can pause to reevaluate, and redesign." />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/black-and-white-man-person-street_800.jpg" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">


  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>An Economy of Meaning, or Bust</h1>
        <p><b><i>Current economic systems are dismal because they waste our precious time. We can pause to reevaluate, and redesign.</i></b></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
   
      <p><b>By John Boik, February 6, 2017</b></p> 
      
      <div>
        <img class="blog-pic" alt="What jobs do we find meaningful?" src={{ url_for('static', filename="images/black-and-white-man-person-street_800.jpg") }}>
      </div>
      
      <p>It’s not often that a scientist gets to use the words love, creativity, and wisdom in a paper, especially when writing about economics. Perhaps that’s because economics, the dismal science, is obsessed with dismal systems—make that abysmal systems, relative to need.
      </p> 

      <p>To be clear, I’m not speaking of the specific policies of the US, the EU, China, the World Bank or others. I’m speaking of dominant economic systems as wholes—especially their underlying conceptual models (macro and micro) and the world views upon which they are based.
      </p>

      <p>A human has only so many minutes in life. Time is the bedrock scarcity. If a person isn’t doing something meaningful in a given moment, he’s doing something less than meaningful. He’s wasting at least some of his potential. By <i>meaningful</i>, I don’t mean <i>productive</i>, in an economic sense. I mean important to the person, to her own wellbeing. The Chilean economist Manfred Max-Neef identifies <a href="https://www.ncbi.nlm.nih.gov/pubmed?Db=pubmed&Cmd=Retrieve&list_uids=20701177&dopt=abstractplus" target="blank">nine categories of human need</a>: subsistence, protection, affection, understanding, participation, leisure, creation, identity, and freedom. Others might make a slightly different list, but the important concept is that meaning stems from addressing real human needs.
      </p>
      
      <p>It’s not that we <i>should</i> be doing something meaningful with our time, it’s that we <i>want</i> to. We want to express and receive affection, for example, and to fulfill the other eight needs. We want to, that is, unless external pressures so exhaust, distract, distort, or confuse us that we lose touch with who we are. 
      </p>
      
      <p>Current economic systems are dismal-abysmal because they waste our precious time. As a case in point, only <a href="http://www.gallup.com/poll/165269/worldwide-employees-engaged-work.aspx" target="blank">13 percent of workers worldwide are engaged</a> in their jobs. This means, in effect, that 87 percent of workers feel more or less forced to go to work. Short of force, why would someone spend half their waking hours (or more), day after day, doing something that didn’t engage them? 
      </p>

      <p>Except for receiving a paycheck, it appears that most workers don’t really care about their jobs. That’s not surprising. Work doesn’t count as a real human need. It’s only a vehicle by which some needs can be (but for most people aren’t) met. Work doesn’t meet our needs because economic systems, as they exist, didn’t evolve to fulfill the real needs of ordinary people. They evolved largely under pressures exerted by powerful people and groups who wanted to maintain and expand their own privileges. 
      </p>

      <p>Suppose that we pause to reevaluate. Using insights from psychology, environmental sciences, public health, complex systems science, sociology, and other fields—that is, using as clear and scientifically sound a picture as we can muster of what humans and natural environments actually need in order to thrive—we can ask ourselves the following question: <i>What economic system designs, out of all conceivable ones, might be among the best at helping us meet real needs</i>? 
      </p>
      
      <p>Strange as it might sound, this question is rarely asked in academia, the science and technology sector, or elsewhere. Or if it is asked, the investigation usually lacks imagination. Surely we can move beyond a discussion of capitalism vs. socialism, as if these were the only two possibilities. A wide-open, largely unexplored space of interesting, potentially viable systems exists. 
      </p>

      <p>In my recent paper, “<a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality</a>,” I call on the academic community, and science and technology sector, to begin a broad exploration in partnership with other segments of society into what optimality means with respect to economic and political system design. I term this nascent program <i>wellbeing centrality</i>, due to the central role that the elevation of wellbeing would play in systems that help us to fulfill real needs. 
      </p>

      <p>Viewed abstractly, economic and political systems are problem-solving systems. One could call them technologies of a sort. As such, they are subject to scientific inquiry and engineering innovation aimed at discovering new designs that improve problem-solving capacity. Further, if we seek ideas for new designs, we don’t have to look far. Nature provides a blueprint. 
      </p>

      <p>From a complex systems science perspective, the environment is replete with successful problem-solving systems (cells, organisms, immune systems, ecologies, and so on). Although all look different physically, successful systems tend to exhibit similar <a href="http://citeseerx.ist.psu.edu/viewdoc/summary?doi=10.1.1.180.6679" target="blank">underlying mathematical properties</a>. That is, nature has hit upon a good problem-solving approach, and repeats it widely. If we wish our problem-solving systems to be successful, to be as good as they can be, we might want to pay close attention to what nature does. 
      </p>
      
      <p>Moreover, we can view the eight needs Max-Neef identifies as gifts of nature, stemming from eons of evolution over countless ancestral species, to help us focus on and solve problems that matter. Our need to express and receive affection, for example, is also responsible, in part, for our tendency to seek cooperation in solving difficult problems. 
      </p>

      <p>In short, “good” economic systems would produce <i>economies of meaning</i> that help us to help one another live meaningful lives—to meet real needs and solve problems that matter. 
      </p>

      <p>We don’t have much time to make a transition from current systems to better ones. <a href="http://advances.sciencemag.org/content/1/5/e1400253" target="blank">Mass extinction</a> and other <a href="https://globalchallenges.org/wp-content/uploads/12-Risks-with-infinite-impact.pdf" target="blank">global catastrophes</a> loom on the horizon. We face the unthinkable, not so much because a few CEOs, companies, or politicians have acted greedily (some have), but rather because today’s problem-solving systems didn’t evolve to help us meet real needs. They waste our precious time, as mentioned, rather than focusing our talents and natural drives on things that do matter, such as caring for others and the planet. 
      </p>

      <p>But how do we get from here to there? No matter how promising the design of a new system might be, it would be unreasonable to expect that a nation would abruptly drop an existing system in favor of a new one. Nevertheless, a viable, even attractive strategy exists by which new systems could be successfully researched, developed, tested, and implemented. I call it <i>engage global, test local, spread viral</i>. 
      </p>

      <p><i>Engage global</i> means to engage the global academic community and technical sector, in partnership with other segments of society, in a well-defined R&amp;D program aimed at computer simulation and scientific field testing of new systems and benchmarking of results. In this way, the most profound insights of science can be brought into play. 

      <p><i>Test local</i> means to scientifically test new designs at the local (e.g., city or community) level, using volunteers (individuals, businesses, non-profits, etc.) organized as civic clubs. This approach allows testing by relatively small teams, at relatively low cost and risk, in coexistence with existing systems, and without legislative action. 
      </p>

      <p><i>Spread viral</i> means that if a system shows clear benefits in one location (elimination of poverty, for example, more meaningful jobs, or less crime) it would likely spread horizontally, even virally, to other local areas. This approach would create a global network of communities and cities that cooperate in trade, education, the setup of new systems, and other matters. Over time, its impact on all segments of society would grow. 

      <p>Cities, big and small, are the legs upon which all national systems rest. Already cities and their communities are hubs for innovation. With some further encouragement and support, and the right tools and programs, they could become more resilient and robust, and bigger heroes in the coming great transition.
      </p>
      
      <br>
      <p>******<br>
      John Boik, PhD<br>
Author, <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i> (2014) and founder, Principled Societies Project (<a href="http://www.PrincipledSocietiesProject.org">http://www.PrincipledSocietiesProject.org</a>).<br>
@JohnBoik
      </p>

      <p>Please share and republish. <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
      </p> 

      
    </div>
  </div>  
</div>
<br>


{% endblock %}
