{% extends "layout.html" %}


{% block title %}
  <title>Glossary</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="Glossary" />
  <meta property="og:description" content="Glossary of terms for the LEDDA framework and wellbeing centrality program" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/glossary" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Glossary" />
  <meta name="twitter:description" content="Glossary of terms for the LEDDA framework and wellbeing centrality program" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}



{% block body %}

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-med-12 col-sm-12 cols-xs-12 center">
      <h1 class="blue-sect">Glossary and Abbreviations</h1>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>For more information on terms, abbreviations, concepts, and vision, see
        [<a href="#r1">1</a>,<a href="#r2">2</a>,<a href="#r3">3</a>]
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect-narrow">

      <h5 class="blue-sect bld">Contributions</h5>
      <p>The total amount, in tokens and dollars (T&D), that member persons annually transfer to the CBFS. All member persons make contributions to the CBFS according to CBFS earmarks.</p>

      <h5 class="blue-sect bld">Crowd-Based Financial System (CBFS)</h5>
      <p>The CBFS provides support to member persons and member organizations. Its five arms are: standard business subsidies, Principled Business subsidies, nonprofit donations, interest-free loans, and nurture support (support for unemployed and NIWF members). The loan arm is not considered in the steady-state model. </p>

      <h5 class="blue-sect bld">Earmarks</h5>
      <p>The percentages of gross income that member persons contribute to the CBFS. There is one earmark for each CBFS arm.</p>

      <h5 class="blue-sect bld">Growth period</h5>
      <p>The period of time, starting at inception of a LEDDA (Year 0), during which the target income is rising. Depending on conditions and choices, this might be about 10-20 years.</p>  

      <h5 class="blue-sect bld">Income target</h5> 
      <p>The pre-tax, post-CBFS (post-contribution) target income in T&D that a member can choose to accept. The income target is a series of annual non-decreasing family income values, starting near initial (Year 0) wage conditions. During the growth period the income target is rising. The income target referred to in the steady-state model is the last in this series.</p>

      <h5 class="blue-sect bld">Local Economic Direct Democracy Association (LEDDA)</h5>
      <p>A system of economic democracy intended for local (e.g., community, city, or county) implementation. It functions as a local layer of organization on top of an existing national economic system.</p>

      <h5 class="blue-sect bld">LEDDA components</h5>
      <p>The eight components of the LEDDA framework are:
      <div class="container-fluid left-pad-2">

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9312</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Token monetary system (TMS), by which a LEDDA creates and destroys tokens as required to regulate token volume and value.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9313</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Crowd-Based Financial System (CBFS), by which a LEDDA funds local organizations.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9314</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A local market system in which organizations compete and cooperate to provide goods and services to consumers and clients. The market system includes the Principled Business (PB) model. The integrated TMS, CBFS and market system is called the Token Exchange System (TES).</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9315</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A property rights system that assigns ownership and use rights for physical, intellectual, and other types of
            property. Property rights follow national norms but differ in that: (a) Principled Businesses participate in an intellectual property (IP) pool, or commons; (b) restrictions apply on the sale of Principled Businesses and transfer of their assets, not unlike restrictions that apply to nonprofits; and (c) the LEDDA framework is highly transparent.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9316</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>An incentive system that encourages cooperative or otherwise desirable behavior. It includes: (a) a reputation system that recognizes reputation as a form of social currency; (b) beneficial social norms; and (c) wellbeing indexes that measure the effectiveness of a LEDDA in improving collective wellbeing.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9317</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A governance system that regulates the preceding five components. The proposed system of governance, called the Collaborative Governance System (CGS), incorporates an online form of direct collaborative democracy.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9318</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Conceptual models. Computer simulations and other models help members assess and anticipate conditions and decision outcomes. Currency, energy, resource, and waste flows can be modeled, as well as wellbeing and human capital and educational needs.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9319</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Purpose. The purpose of a LEDDA is to help a community solve problems and organize activities such that collective wellbeing is elevated.</p>
          </div>
        </div>

      </div>

      <h5 class="blue-sect bld">Not in workforce (NIWF)</h5>
      <p>An adult is NIWF if he or she is not employed and not looking for work. NIWF persons can include students and those who choose to stay home to care for children or elderly parents, or are themselves elderly or disabled. In the US and Europe, roughly 35% of the population is NIWF.</p>

      <h5 class="blue-sect bld">Nonprofit organization (NP)</h5>
      <p>Nonprofit organizations can include schools, government agencies, charities, civil society groups, hospitals, research organizations and other types of not-for-profit organizations. In the United States, these are tax-exempt organizations.</p>

      <h5 class="blue-sect bld">Optimality</h5>
      <p>As applied to social choice systems, a measure of relative capacity to help communities solve problems and organize activities such that collective wellbeing is elevated.
      </p>   

      <h5 class="blue-sect bld">Organizations</h5>
      <p>The three primary types of member and nonmember organizations are standard businesses (SB), Principled Businesses (PB), and nonprofits (NP). All member organizations pay wages partly in tokens. A nonmember organization cannot be a Principled Business and cannot accept tokens as revenue.</p>

      <h5 class="blue-sect bld">Organization revenue partition</h5>
      <p>The percentages of total revenue that organizations receive from different sources (CBFS funding vs. person spending in the marketplace).</p>

      <h5 class="blue-sect bld">Principled Business (PB)</h5>
      <p>A Principled Business is a type of socially responsible business unique to the LEDDA framework. Among other characteristics, it is highly transparent and pays wages that are in keeping with income targets (not lower than the current-year target and not higher than the final target).</p>

      <h5 class="blue-sect bld">Post-growth period</h5>
      <p>The period of time after the growth period when the target income is steady, but the LEDDA is still growing. It has not yet established a steady-state. In an idealized TES, steady-state conditions might occur perhaps 10-20 years into the post-growth period.</p>

      <h5 class="blue-sect bld">Standard Business (SB)</h5>
      <p>A standard business is a for-profit organization that is not a Principled Business.</p>

      <h5 class="blue-sect bld">Social choice system</h5>
        <p>A formal or semiformal system by which a community or society self-regulates its behavior. Social choice systems include economic, governance, and legal systems. Also known as <i>decision-making systems</i>.</p>

      <h5 class="blue-sect bld">Tokens and dollars (T&D)</h5> 
      <p>The sum of tokens plus dollars, where either or both can be zero.</p>

      <h5 class="blue-sect bld">Token Exchange System (TES)</h5>
      <p>The bi-currency circulation system that is a component of LEDDA economic democracy. It consists of the integrated TMS, CBFS and market system (see LEDDA components).</p>

      <h5 class="blue-sect bld">Token</h5>
      <p>The local, transparent, electronic currency unique to a LEDDA. It circulates locally in parallel with a national currency.</p>

      <h5 class="blue-sect bld">Token share of income (TSI)</h5> 
      <p>Token share of income. The percent of wages that member employers pay member employees in tokens.  The remainder is paid in the national currency.</p>

      <h5 class="blue-sect bld">Wage option choice</h5>
      <p>In any given year, a member that is employed by a member organization can choose to accept a wage at the income target (option 1) or at a higher wage, if a higher wage is offered (option 2). If the higher wage is offered and accepted, the member also receives a modest incentive bonus paid in tokens. The bonus plays a role in the agent-based model [<a href="#r2">2</a>], but not in the steady-state model. The purpose of the bonus is to ensure that every member family, no matter what their income, obtains an income gain over starting conditions by joining a LEDDA. Certain restrictions apply.</p>

      <h5 class="blue-sect bld">Wellbeing, or collective wellbeing</h5>
      <p>The current and anticipated degree to which individuals, natural environments, and ecosystems collectively flourish. A high degree of wellbeing implies vibrancy, resilience, sustainability, diversity, creativity, and health. Wellbeing levels can be monitored, indexed, and modeled.</p> 

      <h5 class="blue-sect bld">Wellbeing centrality</h5>
      <p>A nascent multidisciplinary program that spans the design, testing, promotion, and operation of social choice systems that place wellbeing measurement, evaluation, forecasting, and deliberation at the center of decision-making activities. The term is also intended to serve as a keyword for indexing diverse scientific, civil society, political, business, and artistic efforts related to social choice system optimality. </p>

      <h5 class="blue-sect bld">Workforce partition</h5> 
      <p>The percentages of the workforce that are employed by SB, PB, and NP organizations.</p>

    </div>
  </div>

  <br>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <h5 class="blue-sect bld">References</h5>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect-narrow">

      <p id="r1">1. Boik JC. <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i>. SiteForChange.com; 2014.
      <a href="/book_edd_about">link</a> </p>

      <p id="r2">2. Boik JC. First Micro-Simulation Model of a LEDDA Community Currency-Dollar Economy. <i>International Journal of Community Currency Research</i>;  2014.
      <a href="http://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/" target="blank">link</a> </p>

      <p id="r3">3. Boik JC. Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality <i>RePEc Working Paper</i>;  2016.
      <a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">link</a> </p>

    </div>
  </div>

<script type="text/python" src="{{ url_for('static', filename='python/steady_01.py') }}"></script>

{% endblock %}

