{% extends "layout.html" %}


{% block title %}
  <title>Solving Problems That Matter: The Ideal of Democracy and Capitalism?</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:title" content="Problem Solving as the Ideal of Democracy and Capitalism" />
  <meta property="og:description" content="Societies can solve important problems. Doing so is the essence of sustainability. But systems innovation is necessary." />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/wind_power.jpg" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/ideals_democracy_capitalism" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Problem Solving as the Ideal of Democracy and Capitalism" />
  <meta name="twitter:description" content="Societies can solve important problems. Doing so is the essence of sustainability. But systems innovation is necessary." />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/wind_power.jpg" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">


  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Problem Solving as the Ideal of Democracy and Capitalism</h1>
        <p><b><i>Societies can solve important problems. Doing so is the essence of sustainability. But systems innovation is necessary.</i></b></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
   
      <p><i>By John Boik, April 17, 2017</i></p>

      <div>
        <img class="blog-pic" alt="Wind power" src={{ url_for('static', filename="images/wind_power.jpg") }}>
      </div>

      
      <p>Why do many people hold concepts of democracy and capitalism dear, even as institutions based on them fail to solve or adequately address a host of social and environmental problems, and might be part of their cause? Witness climate change, poverty, income inequality, habitat loss, debt accumulation, pollution, and financial instability, among others. 
      </p>
      
      <p>Unsolved problems like these tend to accumulate and worsen. Scientists, for example, warn that the sixth mass extinction may have begun. It’s little wonder then that <a href="http://www.gallup.com/poll/1597/confidence-institutions.aspx" target="blank">public confidence</a> in institutions has fallen. Today, less than a third of the US pubic has substantial confidence in major institutions, and among the least trusted are Congress and Big Business. Younger generations tend to have <a href="https://qz.com/848031/harvard-research-suggests-that-an-entire-global-generation-has-lost-faith-in-democracy/" target="blank">less faith in democratic institutions</a> than do older ones. 
      </p>
      
      <p>The danger is throwing the baby out with the bathwater. If faith in the institutions of democracy and capitalism remains low, and especially if it falls further, populations will sooner or later replace their institutions. If that transition is violent, or if new institutions are more authoritarian or otherwise illiberal, we will have missed a golden opportunity. 
      </p>
      
      <p>Perhaps now, before it’s too late, we should examine concepts of democracy and capitalism to understand what about them is truly inspiring and meaningful. By reflecting, and then taking action to align institutions with ideals, we have the opportunity not only to avert decay, but to create the conditions needed to thrive. 
      </p>

      <h2>Problem-Solving Systems</h2>
      
      <p>Democracy and capitalism are, obviously, types of governance and economic systems. So too are monarchies and oligarchies, and socialism and communism. To say that democracy and capitalism are “good” in some sense implies that they are “good” at doing what governance and economic systems are supposed to do. But what is that? What is the <i>ideal</i> purpose of governance and economic systems?
      </p>
      
      <p>Reaching public agreement on an answer might be challenging, as people hold any number of convictions. It’s a question worthy of public debate, and of scientific inquiry. In fact, the scientific community might come to consensus before the rest of us do. Recent advancements in such fields as complex systems science, information theory, cognitive science, and evolutionary biology provide concepts that serve as a start. 
      </p>
      
      <p>First, every living system—cells of an organism, organisms of a community, communities of an ecosystem—can be viewed abstractly as a <i>complex adaptive system</i>. The word <i>complex</i> means, essentially, that the system has a large number of interacting parts that display some degree of cohesive behavior. The word <i>adaptive</i> means that it responds in some way to internal and external conditions. 
      </p>
      
      <p>How do living systems adapt? Every population evolves genetically over time, and thus adapts in that (non-intentional) way. In addition, many, if not most, living systems learn. Even <a href="https://phys.org/news/2016-04-intelligent-brainless-slime.html" target="blank">single slime mold cells</a> appear to have the capacity to learn. Said another way, these systems or their parts anticipate outcomes. They choose an action based on an evaluation of predicted results. 
      </p>
      
      <p>Simple or sophisticated, every living system that learns can be viewed as problem-solving system. One can say that for these systems, the overarching, ostensible purpose, call it a <i>natural</i> purpose, is to solve or successfully address problems or challenges that matter (hereafter, for brevity, <i>to solve problems that matter</i>). Problems that matter are those that pertain to the system’s core needs, what it needs to self-sustain and flourish. Solving problems that matter is what successful living, learning systems do. And to do it, they predict what will happen next.
      </p>
      
      <p>To tie these notions together, a human community or society can be viewed as living, learning, complex adaptive system—an anticipatory superorganism, if you will. Its natural purpose is to solve problems that matter. 
      </p>
      
      <p>What does this kind of problem solving look like? A general, idealized problem-solving process for groups is shown in Figure 1. The process for an individual is similar. Although simple, the figure distills some of the latest understandings in cognitive science and other fields. 
      </p>
      
      <div>
        <a id="figure1"></a>
        <figure>
        <figcaption class="caption-blog">Figure 1. Overview of the group problem-solving process</figcaption>
        <img class="blog-pic2" alt="Problem-solving process" src={{ url_for('static', filename="images/intelligent_community_brief.png") }}>
        </figure>
      </div>      

      <p>Learning occurs as the process cycles. That is, the outcomes of past actions and the quality of past predictions are assessed (in <span style="color:#ff0000ff">B</span> of <a href="#figure1">Figure 1</a>). If impacts inadequately address core needs, or if predictions are too inaccurate or uncertain, models of the world (be they mental or computerized, associative or logical) are adjusted accordingly.
      </p>
      
      <p>One can see already that the way we typically conceive of democracy (as voting methods and legislatures, for example) and of capitalism (as businesses and investors, for example) are only small parts of the overall problem-solving process. 
      </p>
      
      <p>To give the flavor, problem solving at the Legislative Branch of the US government includes Congress itself and how its members are elected. It also includes the Census Bureau, the Centers for Disease Control, and every other agency that collects or models data to aid Congress in decision-making. Further, it includes the process by which money influences elections and the decisions of Congress. It also includes the set of needs addressed, and who’s needs are addressed.
      </p>

      <h2>Core Human Needs</h2>

      <p>Governance and economic systems could focus on any number of problems or topics. But their natural, or ideal, purpose is to solve problems that matter. These are the problems that pertain to core needs of the population that is served and to core needs of others the population is concerned about. 
      </p>
      
      <p>Numerous investigators have proposed categories, lists, or arrangements of core human needs. The economist Manfred Max-Neef recognizes <a href="https://www.ncbi.nlm.nih.gov/pubmed?Db=pubmed&Cmd=Retrieve&list_uids=20701177&dopt=abstractplus" target="blank">nine categories</a>: subsistence, protection, affection, understanding, participation, leisure, creation, identity, and freedom. <a href="http://selfdeterminationtheory.org/theory/" target="blank">Self-determination theory</a> posits a list of three innate, psychological needs: competence, autonomy, and psychological relatedness. Other investigators, including the psychologist <a href="http://psychclassics.yorku.ca/Maslow/motivation.htm" target="blank">Abraham Maslow</a>, propose somewhat different descriptions. 
      </p>
      
      <p>However we define our core needs, the long path of evolution, over countless ancestral species, has inserted them deep into our biology. Needs make our survival more likely by focusing our attention on problems that matter. These are the problems we find meaningful, and thus worthy of attention. 
      </p>
      
      <p>Moreover, core needs and emotions are closely related, and the latter play a role in the evaluation of options (<span style="color:#ff0000ff">C</span> in <a href="#figure1">Figure 1</a>). For example, suppose that a group anticipates, even formally predicts, air quality as a result of different policy options. When evaluating weak policies, individuals might recall the anger, fear, or disgust they experienced when exposed to dirty air (when their need for protection was unfulfilled). As such, they might evaluate weak policies negatively. 
      </p>
      
      <p>Because humans can feel empathy for others, and for other species, we can take the needs of others into account in problem solving. Doing so usually leads to greater success. From a systems perspective, a society is entwined with all other living systems. All are connected in a sometimes delicate web of life. This means that the problems of a society cannot be adequately solved, or even properly understood, unless impacts on other groups, societies, and species are considered. 
      </p>
      
      <h2>Social Choice Systems</h2>
      
      <p>Not all parts of the problem-solving process—the role of emotions in evaluating options, for example—are amenable to human design. So if we wish to examine what is good about democracy, capitalism, or any other system, it is helpful to focus on those parts of the process that can be intentionally altered. 
      </p>
      
      <p>The items in red in <a href="#figure1">Figure 1</a> identify what I call <a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">social choice systems</a>. A social choice system is the set of components of the group problem-solving process that are amenable to design. Components can include computational models, voting methods, monetary systems, education programs, and public health surveys, just to name a few. 
      </p>
      
      <p>Among the most important components of a social choice system are the conceptual models and worldviews on which it is based. For example, a group will generate scenarios (<span style="color:#ff0000ff">B</span> in <a href="#figure1">Figure 1</a>) for different options based on its worldviews. Options that are inconsistent with existing worldviews are unlikely to be generated, or unlikely to be seriously considered if they are generated. 
      </p>
      
      <p>One way to interpret <a href="#figure1">Figure 1</a> is as an illustration of <i>social computation</i>. Any system that can learn can be said to compute. From this view, a successful social choice system is a prediction-oriented computation system, aided by technology and informed by emotions. 
      </p>
      
      <p>In potential, a social choice system can be a massively parallel computing system. Individuals can be said to compute (observe, learn, reason, etc.); and a social choice system could engage them for the shared purpose of solving problems that matter. The full potential of parallel social computation has yet to be realized, however. Historically, small groups have held most of a society’s decision-making power while the abilities of the majority of individuals have been largely wasted or ignored.
      </p>

      <h2>Social Choice Systems and Learning</h2>

      <p>In the ideal, social choice systems are learning systems. Learning is necessary because the problems and challenges of human society tend to <a href="https://arxiv.org/abs/0704.0304" target="blank">increase in difficulty over time</a>. As population increases and technology becomes more powerful, more people have greater power to interact with, even to cause harm to each other and the environment. Problems grow ever more entwined, and finding and implementing solutions requires ever greater sophistication and cooperation. Learn and cooperate or collapse, one could say, pointing to <a href="https://phys.org/news/2014-04-moderate-resource-economic-inequality-keys.html" target="blank">multiple examples</a> of fallen civilizations. 
      </p>
      
      <p>To be clear, it’s not that societies learn and grow more cooperative only because they are pushed to by circumstances. Again, problem solving relates to core needs, and several core needs beckon us toward learning and greater cooperation. Particularly important would be needs for affection, understanding, participation, and creativity. Said differently, we yearn to learn and cooperate, and are regularly forced to.
      </p>
      
      <p>Every item in <a href="#figure1">Figure 1</a> is a part of the learning process. Even more than that, each is a topic about which more can be learned. More can be learned about human needs, for example, and about the needs of other species and ecosystems. The role and importance of science here is obvious. 
      </p>
      
      <p>Further, a “good” social choice system learns to learn. It discovers ever better ways to learn. Which also means that it adopts new and better designs, as appropriate. In other words, its structure is flexible (resilient). Some actions taken (<span style="color:#008080">E</span> in <a href="#figure1">Figure 1</a>) are aimed at altering the social choice system itself. 
      </p>
      
      <p>Computer models have an increasingly important role to play in the kind of learning depicted in <a href="#figure1">Figure 1</a>. They are useful tools, powerful extensions of human abilities. But that does not mean that learning makes societies more heartless and calculating. Rather, if learning is unhindered, and focused on meeting core needs, societies grow wiser and more caring. 
      </p>
      
      <p>Wisdom, equated here with problem-solving capacity, is itself a topic of <a href="https://www.ncbi.nlm.nih.gov/pubmed/23597933" target="blank">scientific inquiry</a>. Components of wisdom include empathy, self-reflection, and knowledge. Emotions are involved in the learning cycle of <a href="#figure1">Figure 1</a>, along with intuition and logical reasoning. A wise society, just like a wise individual, uses all these to focus on and solve problems that matter. 
      </p>
      
      <p>How does a society grow wiser? Recall that a social choice system could perform massively parallel social computation. In this perspective, each individual is a potential source of wisdom and problem-solving ability. Each is also a source of raw information, as each has firsthand knowledge of his or her experience and needs. Thus, a society grows wiser, and better able to solve problems, to the degree that wisdom and critical thinking in individuals are nourished, and to the degree that individuals are listened to. 
      </p>

      <h2>Relative Fitness of Social Choice Systems</h2>

      <p>Already we have identified several desirable characteristics of a social choice system. As a next step, we can identify two components that will help define the <a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">relative fitness</a> of a social choice system. The proximal component has to do with problem-solving capacity, and the distal component has to do with the degree of collective wellbeing—current and anticipated, social and environmental—that problem-solving activity produces. Scientifically defensible metrics for both components can be devised, although much work remains to be done. 
      </p>
      
      <p>Many of the desired characteristics mentioned so far—capacity to learn, predictive accuracy, and flexibility of structure, for example—relate to the proximal component of relative fitness, i.e., problem-solving capacity. Additionally, problem-solving capacity depends on the quality of information flows (noise and bandwidth, for example). In other words, individuals must be able to safely share rich and accurate information about themselves, their conditions, insights, and needs. 
      </p>
      
      <p>Further, information flows must be trustworthy, which means that the social choice system itself must be transparent. Trust, transparency, and cooperation are mutually dependent. 
      </p>
      
      <p>Its not enough that a small set of decision-makers receive information from individuals. Problem-solving capacity increases to the degree that individuals themselves are the decision-makers, and to the degree that they listen to one another. Said another way, problem-solving capacity expands as decision-making power grows more decentralized.
      </p>
      
      <p>Recent advances in the natural sciences suggest that successful complex adaptive systems solve problems by balancing agility and stability. The technical term is <i>self-organized criticality</i>. Another view of this is that they express an optimal (and dynamic) balance between the use of old and new information, and they give each individual (i.e., each node in a network) more or less equal opportunity to contribute information, up to the point where the amount and/or incoherence of information begins to overwhelm the system. 
      </p>
      
      <p>In effect, many if not most species, <a href="https://www.scientificamerican.com/article/bison-vote-on-the-direction-they-d-like-the-herd-to-move/" target="blank">bison herds</a>, for example, implement what could be construed as types of direct collaborative democracy. 
      </p>
      
      <p>In summary, to be good at solving problems, a social choice system must meet several requirements. It must adequately gather information, learn, encourage cooperation, predict outcomes, nurture wisdom and critical thinking in individuals, be transparent and flexible, balance stability and agility, and listen to and distribute power among individuals. The result of meeting these requirements is a higher likelihood of successful problem solving and, in turn, elevated collective wellbeing, meaning a better fulfillment of collective core needs. 
      </p>

      <h2>The Ideals of Democracy and Capitalism</h2>

      <p>Finally, we are in a position to identify what is worthwhile about democracy and capitalism. It is that, at the level of ideals, they partially fulfill some of the requirements for successful social choice systems. More to the point, what we find truly inspiring and meaningful is the capacity to solve problems that matter. To the degree that notions of democracy and capitalism reflect this, we find them attractive. 
      </p>
      
      <p>For example, we are attracted to the democratic ideal that every person has an equal vote in an election, and we support democratic notions of free press and free speech (these pertain to requirements for the distribution of decision-making power and for information flows). Regarding capitalism, we are attracted to the notion that an individual has freedom to choose his or her profession, or can even start a business if desired (which also pertains to the distribution of decision-making power). 
      </p>
      
      <p>While these and other qualities are attractive, modern institutions of democracy and capitalism do not adequately fulfill all the requirements for successful social choice systems. Because they fall short, their capacity to solve problems is limited. 
      </p>
      
      <p>How does capitalism fall short? One of its hallmarks is competition, which is encouraged much more so than cooperation. In particular, capitalism rewards self-interested behavior, sometimes lavishly. In doing so it pits people and companies against one another in sometimes brutal struggle. Attention turns toward generating profits and accumulating wealth, more so than cooperating to solve problems that matter. 
      </p>
      
      <p>By rewarding selfish behavior, capitalism leads to unwise decisions. Many news reports describe big business—banks, pharmaceutical companies, oil companies, the sugar and tobacco industries, and more—harming social or environmental wellbeing, even actively promoting disinformation in a drive to maintain or increase profits. It’s unreasonable to expect that the greatest common good will be achieved by rewarding people and companies for selfish behavior. Furthermore, strict self-interest is an incomplete description of what actually motivates healthy people.
      </p>
      
      <p>In a similar vein, it’s unreasonable to expect that important problems will be solved and collective wellbeing elevated if the Gross Domestic Product (GDP) and stock market prices remain the primary measures of economic success. Far more appropriate would be <a href="http://www.sciencedirect.com/science/article/pii/S0921800915303359" target="blank">comprehensive measures of wellbeing</a>, and for this, <a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5065220/" target="blank">GDP</a> and market prices are not contenders. Both can increase, for example, with arms sales, inequality, and pollution. 
      </p>
      
      <p>Another hallmark of capitalism is consumerism. Here the focus is on the purchase of goods, regardless of true need or environmental consequences. Advertising encourages us to consume ever more and conflate our personal happiness with specific brands. The design of capitalism does not promote the wise use of resources. In practice, it monetizes resources, even drains resources from the public domain to monetize them, all in an effort to sell more product and generate more wealth.
      </p>
      
      <p>Nor does information flow freely in modern capitalism. We barely know how wealthy the super-wealthy are, for example. Further, intellectual property laws, critical to capitalism’s success, inhibit the flow of information by design. Some argue that IP laws <a href="http://levine.sscnet.ucla.edu/general/intellectual/againstfinal.htm" target="blank">promote monopolies and impede creativity</a>. 
      </p>
      
      <p>Although not commonly recognized as such, money serves as a type of voting tool. The more money you have, the more power you have to influence society. By facilitating inequality and the consolidation of corporate ownership and market capture (i.e., the growth of Big Business), modern capitalism gives the super wealthy vast power over economic decisions. 
      </p>
      
      <p>Far more than the typical person, the super wealthy decide what gets produced, how it is produced, where, and by whom. They hold great power over which businesses and nonprofits get funded. As advertisers, they greatly influence which topics are deemed suitable for media discussions. And due to the designs of governance systems they greatly influence policy and legislation. 
      </p>
      
      <p>Representative democracy consolidates decision-making power in the hands of a few. But in this case the few are elected representatives. The electoral system is such, however, that the public can barely hold representatives accountable. Citizens have only limited formal means to influence officials, amounting to a yes/no vote every few years for an incumbent. Such a system conveys very little of the rich information that a citizen could offer.
      </p>
      
      <p>Nor is the predictive accuracy of elected officials well tracked. All sorts of promises are made but soon forgotten. All sorts of explanations are given for events, yet too infrequently verified by data, even in hindsight. The feedback loop so important to learning is badly neglected. 
      </p>
      
      <p>While improvements to the institutions of democracy and capitalism are possible and should be pursued, it is easy to argue that as social choice systems, their designs are so far off the mark that no set of small tweaks could make them successful. Deep innovation is necessary. 
      </p>

      <h2>A Path Forward</h2>

      <p>If problems go unsolved, conditions will worsen. As they do, populations will grow more angry and frightened. At some point, the public may become erratic, even destructive. Leaders may become more authoritarian. Change is coming. The question is, what form will it take and how beneficial will it be? 
      </p>
      
      <p>In this time of turbulence, we face a golden opportunity. If we examine our social choice systems in light of requirements, and innovate as needed, we can solve or successfully address our pressing problems and elevate collective wellbeing. 
      </p>
      
      <p>We can eliminate poverty, even near-poverty. We can greatly reduce greenhouse gas emissions and other forms of pollution, and restore habitats. We can better fund education, science, and health care. We can lower the rates of preventable disease. We can slow down the extinction rate and increase biodiversity. Our economies can grow more resilient and robust, and jobs more secure and meaningful. We can reduce income inequality and act more cooperatively, with greater shared purpose. 
      </p>
      
      <p>Problems that matter can be solved or successfully addressed. Doing so is the essence of sustainability and the characteristic of functional social choice systems. If solving major problems seems unrealistic to many, it reflects how dysfunctional existing social choice systems are and how deeply we have accepted as normal their incapacity to solve problems. 
      </p>
      
      <p>Of course, it would be unreasonable to expect that a society would abruptly implement radically new social choice systems, even if R&D looked promising. Doing so would be risky, divisive, and expensive. A prudent and viable path is to start with R&D, including computer simulations and public engagement, and then, when appropriate conduct scientific field trials of promising new systems at the local, community level. 
      </p>
      
      <p>These trials could be held by volunteer “civic clubs” designed for that purpose. Test systems could operate in parallel with existing social choice systems, as a type of overlay. In <a href="https://responsiblebusiness.co/wellbeing-centrality-toward-an-economics-and-politics-of-meaning-91d7c7a59c30" target="blank">other articles</a> I’ve referred to this strategy as <i>engage global, test local, spread viral</i>. 
      </p>
      
      <p>Among the many benefits, this strategy allows for testing a variety of different system designs and components, at relatively low cost and risk. Trials could be held with small clubs, on the order of a thousand adults and businesses. By conducting trials via civic clubs, efforts could proceed without need for legislative action.
      </p>
      
      <p>In the larger picture, this strategy is consistent with the distribution of decision-making power. It empowers individuals, communities, and networks of communities, and encourages cooperation at each level. One can imagine, in time, a series of increasingly larger, overlapping social choice systems, spheres of empowerment and cooperation, centered on the individual. 
      </p>
      
      <p>Change is coming, one way or another. We have a precious window of opportunity, however brief, to align societal decision-making systems with valued ideals. Let’s not waste this chance. Foundations and social investors especially, please act boldly. A growing wave of beneficial change could be set in motion with only a modest level of funding. 
      </p>


      
      <br>
      <p>******<br>
      John Boik, PhD<br>
Author, <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i> (2014) and founder, Principled Societies Project (<a href="http://www.PrincipledSocietiesProject.org">http://www.PrincipledSocietiesProject.org</a>).<br>
@JohnBoik
      </p>

      <p>Please share and republish. <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
      </p> 

      
    </div>
  </div>  
</div>
<br>


{% endblock %}
