{% extends "layout.html" %}


{% block title %}
<title>Home</title>
{% endblock %}

{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>LEDDA: Innovation for Thriving, Resilient Communities</h1>
      </div>
    </div>
  </div>

  
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>Communities worldwide face dangerous mixtures of current and emerging problems stemming from climate change, high unemployment, pollution, budget shortfalls, infrastructure decay, forced migrations, income inequality, high-rates of preventable diseases, biodiversity loss, and other issues. Those communities that thrive in the 21st Century may well be the ones that become smarter, more organized, and more focused on solving local problems in light of global challenges.
      </p>
      <p>The Local Economic Direct Democracy Association (LEDDA) framework is a set of innovations that could one day help communities reinvent themselves as strong, secure, resilient, and prosperous. It is based on the 2014 book <i><a href="book_edd_about">Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</a></i>. Other concepts are presented in the paper <a href="#">Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality</a>.
      </p>
    </div>
  </div>  
  
  
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>It is helpful to think of an economic system as a <i>social choice system</i>. A society uses an economic system to help decide which products to produce, how they will be distributed, who will benefit, how wastes will be managed, how workers will spend their time, who holds decision-making power, and so on. As with any human-created technology, deep innovation is possible and should be expected.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect v-spaced-5">
      <p>Five claims are made:</p>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg blue-sect">&#9312</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>The <i>relative optimality</i> of a social choice system is a measure of its capacity to help humans solve problems and organize activities such that collective wellbeing is elevated.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg blue-sect">&#9313</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>Existing systems are sub-optimal relative to need. As an example, Harvard researchers recently gave the US economy a grade of F, for failure. Climate change, poverty, severe inequality, financial crises, environmental degradation, and other serious problems are signs of sub-optimality.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg blue-sect">&#9314</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            To better understand the design requirements for successful problem-solving systems, it helps to look at examples in nature. Many types of natural systems, called <i>complex adaptive systems</i>, function as problem-solving systems. Over time, these tend to increase in complexity (e.g., become more sophisticated) in order to mitigate (casually, solve) otherwise intractable problems.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg blue-sect">&#9315</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            The serious problems that societies now face are more difficult than current social choice systems can handle. To solve them, the complexity of social choice systems must increase. New designs that exhibit increased complexity and problem-solving capacity might hardly resemble existing systems.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg blue-sect">&#9316</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            Innovation of social choice system design is best studied at the local (e.g., community, city, county) level, using volunteer participants, and as part of a scientific program of simulations, field trials, and inquiry. This approach can allow testing by relatively small groups, at relatively low cost and risk, in co-existence with existing systems, and without new legislative action. Systems that demonstrate clear benefits in local trials could spread virally to other local areas.
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid c-full">
  <div class="row triangle-collapse c-full">
    <div class="col-lg-12 col-xl-12 col-med-12 col-sm-12 col-xs-12 c-full">
      <div class="box-line green-back">
      </div>
      <div class="invert-triangle green-fill">
        <svg width="100%" viewBox="0 0 100 22">
          <polygon points="0,0 50,20 100,0"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header green-sect sh-lower">
        <h1>Definitions</h1>
      </div>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_SocialChoiceSystem.png") }}></img> 
        <h4 class="larger green-sect">
          Social choice system
        </h4>
        <p>
          A formal or semiformal system by which a community or society self-regulates its behavior. Social choice systems include economic, governance, and legal systems. Also known as decision-making systems.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_Optimality.png") }}></img> 
        <h4 class="larger green-sect">
          Relative Optimality 
        </h4>
        <p>
          As applied to social choice systems, a measure of capacity to help humans solve problems and organize activities such that collective wellbeing is elevated. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_CollectiveWellbeing.png") }}></img> 
        <h4 class="larger green-sect">
         Collective Wellbeing 
        </h4>
        <p>
		  The current and anticipated degree to which individuals, natural environments, and ecosystems collectively flourish. A high degree of wellbeing implies vibrancy, resilience, sustainability, diversity, and health. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_WellbeingSystemsScience.png") }}></img> 
        <h4 class="larger green-sect">
          Wellbeing Centrality 
        </h4>
        <p>
          A nascent multidisciplinary program that spans the design, testing, promotion, and use of social choice systems that place wellbeing measurement, evaluation, forecasting, and deliberation at the center of decision-making activities.
        </p>
    </div>
  </div>
</div>

<div class="container-fluid c-full">
  <div class="row triangle-collapse c-full">
    <div class="col-lg-12 col-xl-12 col-med-12 col-sm-12 col-xs-12 c-full">
      <div class="box-line red-back">
      </div>
      <div class="invert-triangle red-fill">
        <svg width="100%" viewBox="0 0 100 50">
          <polygon points="0,0 50,20 100,0"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header red-sect sh-lower">
        <h1>LEDDA Framework</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>
        The LEDDA framework is a sophisticated wellbeing-centrality project currently in early development that aligns motivations for economic behavior with a more realistic understanding of human nature and needs. It can be understood from different perspectives as:
      </p>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9312</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A new type of local (community level) membership-based economic system that acts as an overlay to an existing economy
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9313</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A system of economic democracy that offers all members roughly equal influence over economic decisions
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9314</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A mechanism to massively fund local schools, nonprofits, small businesses, public works, research, and other beneficial groups and endeavors
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9315</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A platform to share intellectual property and increase local self-sufficiency in food, manufacturing, and other sectors
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9316</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A means to achieve higher incomes, meaningful jobs, and a high degree of income equality
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9317</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            An economic system in which job creation and environmental protection and reclamation are highly compatible
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9318</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A social welfare system that eliminates poverty
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9319</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A network of transparent, globally networked economic systems that encourage fair trade, cooperation, and collaboration
          </p>
        </div>
      </div>
    </div>
  </div>

  <div class="row p-sect">
    <div class="container-fluid">
      <div class="row">
        <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 big-num-col">
         <span class="number-lg red-sect">&#9320</span>
       </div>
        <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
          <p>
            A new way to understand economic systems and the role of money
          </p>
        </div>
      </div>
    </div>
  </div>

</div>

<div class="container-fluid c-full">
  <div class="row triangle-collapse c-full">
    <div class="col-lg-12 col-xl-12 col-med-12 col-sm-12 col-xs-12 c-full">
      <div class="box-line purple-back">
      </div>
      <div class="invert-triangle purple-fill">
        <svg width="100%" viewBox="0 0 100 50">
          <polygon points="0,0 50,20 100,0"/>
        </svg>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header purple-sect sh-lower">
        <h1>Innovation At the Design Level</h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>The LEDDA framework is a novel system of economic direct democracy that uses money as a voting tool and that holds as a purpose the maximization of collective wellbeing.
      </p>
      <p>
        In  concept, a LEDDA is a (nonprofit) membership-based organization, similar to a civic club. Individuals and businesses voluntarily choose to become members, at no cost. In most democratic nations, it is anticipated that no legislative action will be needed to start a LEDDA. Once the open-source framework is developed, the primary requirement will be a local group of roughly one thousand interested individuals and businesses. Computer simulations based on local conditions can help inform potential members about expected benefits.
      </p>
      
      
  <div class="row">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12">
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 center">
      <div>
        <a href="https://www.surveymonkey.com/r/RZ9KDM6" target="blank">
          <img src={{ url_for('static', filename="resources/Icon_SurveyPurple.png") }}></img> 
        </a>  
      </div>
      <div class="purple-back white-font-lg glyph-button">
        <a href="https://www.surveymonkey.com/r/RZ9KDM6" target="blank">
          Please Take Our Survey
        </a>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 center">
      <div>
        <img src={{ url_for('static', filename="resources/Icon_Puzzle.png") }}></img> 
      </div>
      <div class="purple-back white-font-lg glyph-button" onClick="window.location.href='who_should_be_interested';">
        Who Should Be Interested
      </div>
      <div>
        <p></p>
      </div>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12">
    </div>
  </div>      
      
      
      
      
</div>



{% endblock %}

