{% extends "layout.html" %}


{% block title %}
  <title>Principled Societies Project Home</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="Principled Societies Project" />
  <meta property="og:description" content="Empowering Individuals, Organizations, and Communities Solve Problems That Matter" />
  <meta property="og:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
  <meta property="og:url" content="https://principledsocietiesproject.org/" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Principled Societies Project" />
  <meta name="twitter:description" content="Empowering Individuals, Organizations, and Communities Solve Problems That Matter" />
  <meta name="twitter:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>A New Era of Economic Direct Democracy</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
    <p>Think of your local community (e.g., your neighborhood or city) as a living, breathing superorganism. Then ask the following: How healthy is it? How well does it learn from experience? How well does it adapt to changing conditions? Is it sustainable and vibrant? Most important of all, how well does it solve <a href="https://medium.com/age-of-awareness/solving-problems-that-matter-could-be-the-next-big-thing-8a068dfa4ce2" target="blank"><i>problems that matter</i></a>?
    </p>
    
    <p>Now, imagine a future in which your community—the superorganism of which you are a part—is empowered, meaning that it is able to solve or successfully address its problems and challenges. As a result, public health and collective wellbeing (social, economic, financial, and environmental) are higher than they are today. Education and health care systems are affordable and high quality. Work days are shorter, leaving more time for family, rest, learning, and community. Rates of crime and preventable disease are lower. Jobs are more <a href="https://medium.com/meaning-meaningfulness/an-economy-of-meaning-or-bust-2aa46457b649" target="blank">meaningful</a>. Air and water are cleaner and the local environment is protected and being restored. Imagine how living in this community would feel. Imagine how it would feel to children and young adults. 
    </p> 

  <p>One more step. Imagine zero poverty. Incomes are high and roughly equal for every adult in your community. The very concept of money has changed; it's now understood as a voting tool in a transparent system of economic direct democracy. Your community has its own local currency that circulates alongside the national currency. The concept of business has changed; it's now understood to be a dynamic and transparent extention of the community that exists to serve the common good. Wealth is measured as collective wellbeing and your community gathers data in order to gauge how its wellbeing changes from day to day and year to year. High-quality simulation models help to inform the community of what to expect next.  
  </p>
  
  <p>This future is possible, for your community and for networks of cooperating communities. 
  </p>    
  
  
  <div class="blue-sect">
    <h2>How We Empower</h2>
  </div>
  
  <p>The mission of Principled Societies Project is to empower individuals, organizations, and communities to solve problems that matter. We do this in part by developing concepts, tools, and platforms for new forms of communication, decision-making, and economic direct democracy. 
  </p>  
      
      <p>In particular, our aim is to develop new and better <i>social choice systems</i>. Figure 1 illustrates the general problem-solving process. A more complete description is provided in the article <a href="https://extranewsfeed.com/solving-problems-that-matter-the-ideal-of-democracy-and-capitalism-db2eae9b438b" target="blank">Is Solving Problems the Ideal of Democracy and Capitalism?</a> Tagged in the figure (<span style="color:#f09b1aff">S, P, E, and D</span>) are steps that pertain to a social choice system, which is the mechanisms and rules of a problem-solving system that are amenable to design and innovation. If the components of a social choice system are well designed and well integrated, and they reflect a realistic and broad worldview, the problem-solving process is likely functional. If not, the process could be dysfunctional and problems could go unsolved. 
      </p>      

      <figure class="center">
      <a id="figure1">
        <img alt="problem-solving process, summary" style="max-width: 65%;" src={{ url_for('static', filename="images/intelligent_community_brief.png") }}> 
      </a> 
      <figcaption>Figure 1. Overview of the group problem-solving process</figcaption>
      </figure> 

      <p>We aim to innovate all aspects of social choice systems and develop fundamentally new, integrated social choice systems as flexible open-source platforms. These are designed to excel as problem-solving systems and are intended for implementation at the community level via volunteer civic clubs. A prototype is the <a href="ledda_framework" >LEDDA framework</a>. Be sure to try out the <a href="model_steady_01a">interactive model</a> for currency flows. 
      </p>
      
      <p>We have a start, as evidenced by the articles, models, and other materials on this website. But the bulk of the development work remains, awaiting funding. To see where we are going, read our <a href="blog">blog articles</a>. 
      </p>
      
    </div>
  </div>
</div>        






{% endblock %}

