{% extends "layout.html" %}


{% block title %}
    <title>Principled Societies Project Home</title>
{% endblock %}


{% block page_head %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35447340-1', 'auto');
        ga('send', 'pageview');
    </script>


    <meta property="fb:app_id" content="312890269112844" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="Principled Societies Project" />
    <meta property="og:description" content="Empowering Individuals, Organizations, and Communities Solve Problems That Matter" />
    <meta property="og:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta property="og:url" content="https://principledsocietiesproject.org/" />
    <meta property="og:site_name" content="Principled Societies Project" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Principled Societies Project" />
    <meta name="twitter:description" content="Empowering Individuals, Organizations, and Communities Solve Problems That Matter" />
    <meta name="twitter:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta name="twitter:site" content="@JohnBoik" />
    <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">

    <div class="row">
        <div class="col col-lg-12 col-xl-12 sect-title">
            <div class="sect-header blue-sect">
                <h1>Science-Based R&D on New Societal Systems</h1>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col col-lg-12 col-xl-12 p-sect">
        <p>
            Climate change, biodiversity loss, income inequality, soil degradation, and other interrelated social and environmental problems together 
            pose grave risks. Progress 
            so far has been incremental, and as 
            a result scientists, global policy experts, and the general public increasingly call for bold change across all sectors of society. At 
            least two kinds of bold change are conceivable, both of which seek to alter societal systems (e.g., financial, economic, legal, and governance 
            systems) and/or their 
            institutions, policies, rules, and priorities:
        </p> 
            <ol>
                <li>Reform of existing systems </li>
                <li>Transformation, understood as the development of and migration to new, improved systems.</li>
            </ol>
        
        <p>    
            The focus of the Principled Societies Project is transformation. However, reform is viewed as a necessary complement. 
            John Boik has proposed a science-based R&D program to create, test, and implement
            new societal systems that better serve the common good. You can read about it here.
        </p>

        <h2>Overview</h2>
        
        <p>    
            Briefly, a society is viewed as a superorganism that expresses the intrinsic purpose of achieving and maintaining 
            vitality. The systems of a society are understood as a societal cognitive architecture. The goal is to create new systems that better 
            facilitate societal learning, decision making, and adaptation (i.e., societal cognition). Our major unsolved problems, like climate change
            and biodiversity loss, are viewed as symptoms of dysfunctional or maladaptive societal cognition. If we wish to solve these problems, and
            to flourish, we will need to implement better systems that are designed from the ground up to facilitate healthy societal cognition.
        </p>

        <p>    
            The proposed R&D project represents a partnership between the global science community and interested local communities and other parties. 
            New systems
            are field tested and implemented via a special kind of civic club. Participation in a club is voluntary, and only a small number of individuals 
            (roughly, 1,000) is needed to start a club. No legislative approval is required in most democratic nations, even at the city level. 
            Individuals can start or join a civic club without authorization. Clubs are designed to grow in size and replicate (to new locations) 
            exponentially fast. Transformation on a near-global scale is possible within a reasonable amount of time. The project spans a 50 year
            period, but early adopting communities could see benefits relatively fast. 
        </p>

        <h2>Benefits</h2>        
        <p>
            Participation can offer numerous benefits to individuals and communities, including higher and more 
            stable incomes; improved problem-solving 
            capacity; increased funding for education, environmental restoration and other worthwhile projects; and the creation of stable, high-quality 
            jobs in local businesses. Incomes for club members rise and equalize over time, regardless of work
            status, which eliminates major problems due to income and wealth inequalities. 
        </p>
        
        <p>
            Use the menu to browse the book "Economic
            Direct Democracy," as well as articles and papers, the LEDDA framework, and an interactive simulation model of currency flows in a LEDDA. 
            The most recent work is a series of three new papers, representing a maturation of ideas, uploaded to the arXiv preprint server in April 2020. 
        </p> 

        </div>
    </div>  
</div>                






{% endblock %}
