<!DOCTYPE html>

<html  lang="en-US">

<meta charset="UTF-8"> 

<title>Principled Societies Project</title>


<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}" >

<script src="{{ url_for('static', filename='javascript/jquery-1.11.2.min.js') }}"></script>

<script src="{{ url_for('static', filename='brython/src/brython.js') }}"></script>


<script type="text/python"
src="{{ url_for('static', filename='python/layout.py') }}"></script>

<header >
  <span id="headLeft">
    <img src="{{ url_for('static', filename='images/2173148722_b6ac91c813_z.jpg') }}" 
      alt="Logo" style="height:300px;"> 
  </span>
  
  <span id="headRight">
    <span id="banner">Principled Societies Project</span> 
    <span id="banner_sub">Developing the LEDDA Economic Direct Democracy Framework</span>
  </span>
</header>



<nav class="dropNav">
  <ul>
    
    <li><a id="menu_index" href="/index">Home</a>
      <ul>
        <li><a  id="menu_about" href="/about">About PSP</a></li>
        <li><a  id="menu_newsletter" href="/newsletter">Newsletter</a></li>
        <li><a  id="menu_contact" href="/contact">Contact</a></li>
      </ul>
    </li>

    <li><a id="menu_book" href="javascript:void(0)">Book</a>
      <ul>
        <li><a  id="menu_praise" href="/praise">Praise for <i>Economic Direct Democracy</i></a></li>
        <li><a  id="menu_toc" href="/toc">Table of Contents</a></li>
        <li><a  id="menu_download" href="/download">Free Download</a></li>
      </ul>
    </li>

    <li><a id="menu_interactive" href="javascript:void(0)">Interactive Apps</a>
      <ul>
        <li><a  id="menu_steady_01" href="/steady_01">Steady-State 01</a></li>
      </ul>
    </li>    
    
    <li><a id="glossary" href="/glossary">Glossary</a></li>

    <li><a id="menu_involved" href="javascript:void(0)">Get Involved</a>
      <ul>
        <li><a  id="menu_engage" href="/engage">Get On The Map</a></li>
        <li><a  id="menu_contribute" href="/contribute">Contribute Funds</a></li>
        <li><a  id="menu_volunteer" href="/volunteer">Volunteer</a></li>
        <li><a  id="menu_collaborate" href="/collaborate">Scientific Collaboration</a></li>
        <li><a  id="menu_jobs" href="/jobs">Join PSP Staff</a></li>
        <li><a  id="menu_invite" href="/invite">Speaker Invite</a></li>
      </ul>
    </li>    
  </ul>
</nav>  



<body onload="brython(1)">

<!-- Begin MailChimp Signup Form -->
<link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
<style type="text/css">
	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
</style>
<div id="mc_embed_signup">
<form action="//PrincipledSocietiesProject.us14.list-manage.com/subscribe/post?u=02038e5ba45444814eda4b58b&amp;id=5309666b36" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <div id="mc_embed_signup_scroll">
	<label for="mce-EMAIL">Subscribe to our mailing list</label>
	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email address" required>
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_02038e5ba45444814eda4b58b_5309666b36" tabindex="-1" value=""></div>
    <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
    </div>
</form>
</div>

<!--End mc_embed_signup-->

  {% with messages = get_flashed_messages() %}
    {% if messages %}
      <div class="flash"><h1>Messages:</h1>
        <ul>
        {% for message in get_flashed_messages() %}
          <li>{{ message }}</li>
        {% endfor %}
        </ul>
      </div>
    <br /> 
    {% endif %} 
  {% endwith %} 
  
  {% block body2 %}
  
  {% endblock %}
  
  <div id="footer"></div>
</body>

</html>


