{% extends "layout.html" %}


{% block title %}
  <title>LEDDA Framework</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="LEDDA Framework" />
  <meta property="og:description" content="Helping Individuals, Organizations, and Communities Solve Problems That Matter" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="LEDDA Framework" />
  <meta name="twitter:description" content="Helping Individuals, Organizations, and Communities Solve Problems That Matter" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>LEDDA Framework</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>The Local Economic Direct Democracy Association (LEDDA) framework, in early stage development, is a prototype local economic system (social choice system) based on the 2014 book <i><a href="book_edd_about">Economic Direct Democracy</a></i>.  It is intended to help communities reinvent themselves as strong, resilient, robust, and prosperous. See the <a href="glossary">glossary</a> for a more complete listing of terms and abbreviations.
      </p>
      
      <p>The LEDDA framework has eight components:
      </p>
      <div class="container-fluid left-pad-2">

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9312;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Token monetary system (TMS), by which a LEDDA creates and destroys tokens as required to regulate token volume and value.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9313;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Crowd-Based Financial System (CBFS), by which a LEDDA funds local organizations.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9314;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A local market system in which organizations compete and cooperate to provide goods and services to consumers and clients. The market system includes the Principled Business (PB) model. The integrated TMS, CBFS and market system is called the Token Exchange System (TES).
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9315;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A property rights system that assigns ownership and use rights for physical, intellectual, and other types of
            property. Property rights follow national norms but differ in that: (a) Principled Businesses participate in an intellectual property (IP) pool, or commons; (b) restrictions apply on the sale of Principled Businesses and transfer of their assets, not unlike restrictions that apply to nonprofits; and (c) the LEDDA framework is highly transparent.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9316;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>An incentive system that encourages cooperative or otherwise desirable behavior. It includes: (a) a reputation system that recognizes reputation as a form of social currency; (b) education programs that encourage beneficial social norms; and (c) wellbeing indexes that measure the effectiveness of a LEDDA in improving collective wellbeing.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9317;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>A governance system that regulates the preceding five components. The proposed system of governance, called the Collaborative Governance System (CGS), incorporates an online form of collaborative direct democracy.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9318;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Formal and informal models. Computer and theoretical models that describe how a LEDDA functions and that assess and forecast resource and wellbeing status.
            </p>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-1 col-xl-1 col-med-1 col-sm-1 col-xs-1 med-num-col">
            <span class="number-lg blue-sect">&#9319;</span>
          </div>
          <div class="col-lg-11 col-xl-11 col-med-11 col-sm-11 col-xs-11 num-p-col">
            <p>Purpose. The purpose of a LEDDA is to help a community focus on and solve (or successfully address) problems that matter, leading to elevated collective wellbeing.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect center">
      <div>  
        <br>
        <div>
          <a href="/who_interested">
            <img alt="icon for puzzle" src={{ url_for('static', filename="resources/Icon_Puzzle_blue.png") }}>
          </a>
        </div>
        <div class="blue-back white-font-lg glyph-button" onClick="window.location.href='who_interested';">
          Who Should Be Interested
        </div>
        <br>
      </div>
    </div>
  </div>      
 
 
  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>
        The LEDDA framework is a sophisticated local economic system that aligns motivations for economic behavior with a more realistic understanding of human nature and needs. It can be understood from different perspectives as:
      </p>
      
      <ul class="blue-sect ledda">
        <li>
          <span>A new type of local (community level, civic club) membership-based economic system that acts as an overlay to an existing economy
          </span>
        </li>
        <li>
          <span>A means to achieve higher and more equal incomes, and more meaningful jobs (think pseudo rising minimum wage plus basic income) 
          </span>
        </li>
        <li>
          <span>A system of economic democracy that uses money as a transparent and bona fide voting tool, providing all members roughly equal influence over economic decisions
          </span>
        </li>
        <li>
          <span>A mechanism to massively fund local schools, nonprofits, small businesses, public works, research, and other beneficial groups and endeavors
          </span>
        </li>
        <li>
          <span>A platform to share intellectual property and increase local self-sufficiency in food, manufacturing, and other sectors
          </span>
        </li>

        <li>
          <span>An economic system in which job creation and environmental protection and reclamation are highly compatible
          </span>
        </li>
        <li>
          <span>A social welfare system that eliminates poverty
          </span>
        </li>
        <li>
          <span>A network of transparent, globally networked economic systems that encourage fair trade, cooperation, and collaboration
          </span>
        </li>
        <li>
          <span>A way to understand a local economic system and money circulation as components of a problem-solving system
          </span>
        </li>                
      </ul>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>In  concept, a LEDDA is a (nonprofit) membership-based organization, similar to a civic club. Individuals, businesses, nonprofits, and other groups voluntarily choose to become members, at no cost. Every person or family that joins a LEDDA sees an increase in income. As such, one can say that a LEDDA pays people to join. A LEDDA could form with as few as roughly one thousand interested individuals and businesses. Computer simulations based on local conditions help inform potential members about expected benefits.
      </p>
    </div>
  </div>
</div>


{% endblock %}



