
<!DOCTYPE html>
<html  lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>OMP Book Reviews and Information</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/omp_style.css') }}" >


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35447340-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>
	
	<body>
  <div id="wrapper0">
    <div class="wrapper1b"></div>
    <div id="wrapper1">
      <table width="100%" cellspacing="5" cellpadding="1" border="0">
        <tbody>
          <tr>
          </tr>

      		<tr>
                <td>
                    <a href="/omp_books"><img src="static/images/omp_cnm.gif" alt="Cancer and Natural Medicine" width="200" border='0'/></a>
      			</td>
		        <td> 
		            <a href="/omp_books"><img src="static/images/omp_ncct.jpg" alt="Natural Compounds in Cancer Therapy" width="200" style="border:1px solid black"/></a>
                </td>
		        <td>
              <table width="100%" border="0">
	              <tbody>
		              <tr>
			              <td>
                              <div class="hovermenu">
  					              <ul>
  						              <li> <a href="/omp_book_info">OMP Book Info</a></li>
                            <li id="contact"><a href="/contact">Contact PSP</a></li>
                            <li id="psp"><a href="/index">PSP Home</a></li>
  						            </ul> 
  				              </div>
				            </td>	    
		              </tr>
		              <tr> <td>&nbsp;</td></tr>

		              <tr class="bookTitle">
		                <td>
		                  <center>Oregon Medical Press<br>Books by John Boik<br>(Hosted by Principled Societies Project)</center>
		                  </td>	
		              </tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
	              </tbody>
              </table>			
            </td>
          </tr>
        </tbody>
      </table>	
    </div>  <!--  wrapper1 -->
    <div id="wrapper3">

<div id="box3L">
<br>

<h1>Cancer Book Reviews</h1>
<p>Reviews are available for <a href="#NCCT">Natural Compounds in Cancer Therapy</a> and <a href="#CNM">Cancer and Natural Medicine</a></p>
<h2><a name="NCCT">Natural Compounds in Cancer Therapy</a> </h2>



              
	   <p>"This authoritative and thorough review of the use of natural 
products [in cancer treatment] is one of the best in the field of herbal
 medicine. ...This valuable resource is highly recommended for 
physicians and their patients, researchers, pharmacists, nurses, 
educators, and laypersons seeking reliable information about 
complementary cancer therapies."<br>
                <b><i>Choice</i> (Current Reviews for Academic Libraries), a publication 
                of the Association of College &amp; Research Libraries</b></p>
	          <p>"A jewel...clear, crisp.. concise and useful. The scope 
                is incredible. Not simply a regurgitation of the literature, but 
                a thoughtful and well-balanced interpretation and analysis of 
                the data." <b><i>Pharmaceutical Biology</i></b></p>
              <p>"[Boik] has a good knowledge of the basic molecular and 
                biologic abnormalities in cancer cells and incorporates the natural 
                medicine's suggested mechanisms into a possible therapeutic scenario. 
                The details are impressive. ...The book will serve as an excellent 
                reference for physicians and oncologists who are presented with 
                a patient taking these medicines."<br>
                <i><b>Oncology</b></i> </p>
              <p>"An admirable job...Boik caught some key references that 
                have even escaped my attention as a cancer pharmacologist. ...The 
                appendices detailing the rationale and methodology [for his dose] 
                calculations should be required reading for anyone involved in 
                experimental chemotherapy, regardless of the source of their compound 
                of interest. ...[The book] provides us with substantial intellectual 
                fodder for future studies. ...An informative and provocative book."<br>
                <i><b>Journal of Natural Products</b></i></p>
              <p>"This book must be the ultimate reference of current knowledge 
                on the use of natural compounds in chemotherapy. ...packed with 
                scientific information...extremely well referenced...this book 
                opens the mind to some new ways of thinking about treating cancers."<br>
                <b><i>International Journal of Pharmaceutical Medicine</i></b></p>
              <p>"...Very important....This is a must-have for anyone interested 
                in botanical medicine."<br>
                <b><i>Bloomsbury Review</i></b></p>

      <p>"The author has invested substantial amount of time on converting 
        otherwise difficult to dissect information into a pleasingly easy to read 
        format for readers of all levels. The books starts with a very thorough 
        introduction on major aspects of cancer and cell biology and biochemistry. 
        In particular, the chapters on growth factors, signal transduction, and 
        natural inhibitors of angiogenesis are fascinating to read. ...This press 
        is of a professional text book quality and is a fine reference book for 
        research and clinical scientists in all areas of cancer therapeutics and 
        management."<br>
        <b>Journal of Experimental Therapeutics and Oncology</b></p>
      <p>"A feast ...an eye-opener for researchers...this book is a must...an 
        authoritative text....very useful for the patient-physician team to enhance 
        care...a powerful starting point to develop the protocols [needed for] 
        scientific work...highly recommended."<br>
        <b><i>Pharma Times</i>, Journal of the Indian Pharmaceutical Association</b></p>
      <p>"This book is by far the most comprehensive I have seen regarding 
        the use of natural compounds in cancer therapy. It is a welcome addition 
        to the literature and will soon become indispensable to anyone working 
        in the area."<br>
        <b><i>Phytotherapy Research</i></b></p>
      <p>"Because of Boik's committed plan, fine organization, good diagrams, 
        figures, schemes and composite tables, and above all his lucid language, 
        this book shall be regarded as a handbook for a wide range of readers, 
        from oncologists to cancer patients, from clinicians to nurses, from scientists 
        to common men. <i>Natural Compounds in Cancer Therapy</i> is a pioneering 
        contribution to the medical literature. This book is highly recommended."<br>
        <b><i>Indian Journal of Physiology and Pharmacology</i></b></p>
      <p>"This book is full of carefully examined science and comes as close 
        as one can imagine to giving a balanced view of the efficacy of plant 
        extracts in cancer therapy. [It is] a highly scientific treatment of the 
        subject."<br>
        <b><i>Natural Products Reports</i></b></p>
      <p>"I cannot recommend this book highly enough; it is the ideal reference 
        for every professional—clinicians and researchers, as well as general 
        readers and patients... This book by John Boik ... is a masterpiece and 
        massive work..."<br>
        <i><b>Positive Health</b></i><b> Magazine (U.K)</b> </p>
      <p>"The search is on worldwide, in a major way, to identify anticancer 
        agents from natural sources. Boik must be commended for summarizing most 
        of this evidence in this major textbook. It is a most valuable source 
        of information and will be a useful text for researchers in this field." 
        <br>
        <b><i>Focus on Alternative and Complementary Therapies</i></b></p>
      <p>"John Boik's <i>Natural Compounds in Cancer Therapy</i> is a meticulous, 
        scholarly, comprehensive, invaluable review of the actions and potential 
        clinical use of more than three dozen carefully selected natural compounds."<br>
        <b><i>Midwest Book Review</i></b> </p>
      <p>"The use of natural compounds in cancer therapy is a field still 
        in its infancy, but this well-referenced book represents a large step 
        forward. ...a groundbreaking reference."<br>
        <b><i>Northeastern Naturalist</i></b></p>
      <p>"For any practitioner treating oncology patients, this book will 
        prove invaluable. It will also be of interest to cancer researchers, pharmacologists, 
        and investigative patients."<br>
        <b><i>Alternative Medicine Review</i></b></p>
      <p>"<i>Natural Compounds in Cancer Therapy</i> must be considered the 
        ultimate reference for all those interested and working in the area of 
        medicinal botanicals. The painstaking scholarship is evident in every 
        page, and the detailed references underscore the veracity of the claims 
        and comments made. It is a must for anyone interested in the use of natural 
        botanical compounds in the treatment of human diseases."<br>
        <b>William R. Fair, MD <br>
        Former Chief Urology Department<br>
        Florence and Theodore Baumritter/Enid Ancell Chair of Urologic Oncology<br>
        Memorial Sloan-Kettering Cancer Center</b> </p>
      <p>"Congratulations to John Boik on writing <i>Natural Compounds in 
        Cancer Therapy</i>. This is the definitive text on natural medicine and 
        cancer. This book magnificently shares with the reader a wealth of exciting 
        information that will be used by the patient-physician team to enhance 
        the clinical care of the patient. This book also is a powerful starting 
        point for cancer protocols involving vitamins, minerals, herbs, and other 
        natural products. Wow, what a contribution."<br>
        <b>Stephen B. Strum, MD, FACP<br>
        Medical Oncologist, Specialist in Prostate Cancer<br>
        Prostate Cancer Research Institute<br>
        Los Angeles, California</b></p>
      <p>"For patients and practitioners searching for a scientific guide 
        to natural cancer therapies-look no further. John Boik has created a unique 
        reference that organizes the information about complementary treatments 
        and presents it clearly and objectively. This is a welcome sequel to his 
        first book, <i>Cancer and Natural Medicine</i>. I will continue to recommend 
        both to my patients."<br>
        <b>William M. Buchholz, MD <br>
        Medical Oncologist<br>
        Mountain View, California</b></p>
      <p>"<i>Natural Compounds in Cancer Therapy</i> is a welcome addition 
        to the oncology literature for patients, physicians, and investigators 
        alike. Daily, in our practices, oncologists are faced with patients who 
        wish to supplement their cancer treatment with natural substances. Often 
        we have only our prejudices to guide us in assisting them. This masterful 
        book provides a much-needed compendium of bench research, human trials, 
        and hypotheses. John Boik's honest and evenhanded approach delineates 
        clearly the state of knowledge regarding natural therapies. The elucidated 
        gaps between theoretical considerations, laboratory studies, and human 
        trials cry out for investigation of these potential therapies. This book, 
        as one might expect, raises more questions than it provides answers, but 
        it gives us a rational place to begin in advising our patients."<br>
        <b>Joe Mason, MD<br>
        Chief of Medical Oncology at Kaiser Permanente<br>
        San Jose, California</b> </p>
      <p>"Mr. Boik has done an excellent job of reviewing and synthesizing 
        the available science on the use of natural compounds in cancer therapy. 
        However, this book goes beyond a simple review, as he makes a cogent argument 
        for the need for additional research in this field and presents a framework 
        for pursuing further understanding in this area, which will hopefully 
        stimulate other scientists to take up the challenge. I would recommend 
        this book to all those who wish to familiarize themselves with the vast 
        untapped potential of the use of natural compounds in the treatment of 
        malignancy."<br>
        <b>David Ungar, MD<br>
        Assistant Professor of Pediatrics<br>
        Division of Pediatric Hematology/Oncology<br>
        Penn State College of Medicine</b></p>
      <p>"Anyone interested in a solid scientific basis for natural compounds 
        in cancer treatment should read this pioneering book. <i>Natural Compounds 
        in Cancer Therapy</i> provides a wellspring of inspiration and guidance 
        for both researchers and doctor-patient teams alike. If I were diagnosed 
        with cancer tomorrow, this would be among the first references I would 
        turn to."<br>
        <b>James Duke,<br>
        Economic Botanist<br>
        Author of The Green Pharmacy</b></p>
      <p>"This is a brilliant book...it may be the finest resource currently 
        available on natural and alternative medicine in cancer therapy. Nutritherapy 
        is now being heralded throughout the world as the 'frontier of science 
        and health.' In <i>Natural Compounds in Cancer Therapy</i>, Boik has provided 
        the road map to this brave new world of nutritherapy in cancer." 
        <br>
        <b>Frank D Wiewel, Founder, People Against Cancer, Former Co-Chairman, 
        Pharmacological and Biological Treatments Committee, Office of Alternative 
        Medicine, National Institutes of Health</b> </p>
<p></p>
      <hr>
<br>
<h2><a name="CNM">Cancer and Natural Medicine</a></h2>

      <p>"For an academically trained medical oncologist, this is an astonishing 
        discourse... In fact, reading it is quite rewarding as it provides insight 
        into the border zone between scientific and traditional cancer medicine. 
        ...The textbook is a useful reference for people interested in natural 
        medicine and especially Traditional Chinese Medicine."<br>
        <b><i>Annals of Oncology</i></b></p>
      <p>"John Boik deserves the accolades of the medical and scientific 
        community for his efforts in assembling the present knowledge of natural 
        therapies and combining it with current knowledge and beliefs about the 
        mechanisms of cancer development. This soft-backed volume is well produced 
        with masses of information tables and figures. It is exceptionally well 
        referenced."<b><br>
        <em>Cancer Letters</em></b></p>
      <p>"This book by John Boik gives many professional and lay persons 
        a readily available source of information. ...Overall, this book is of 
        value as a reference book to physicians and researchers. Mr. Boik's research 
        is extensive and his book well-referenced. With the interest in natural 
        remedies increasing, it does provide a source of references for the physician, 
        pharmacist, nurse, and researcher."<b><br>
        <em>ONCOLOGY</em></b></p>
      <p>"[John Boik] has undertaken a rigorous and immensely valuable literature 
        search on the effects of natural medicine on cancer. ...A comprehensive 
        list of references completes a remarkably informative and instructive 
        textbook. ...It...can be recommended as a useful source of information 
        in an increasingly important area of cancer treatment."<br>
        <b><em>Journal of Advanced Nursing</em></b></p>
      <p>"This is not a good book, it is a great book. This is a complete 
        technical manual on understanding the cancer process and how natural agents 
        may be able to prevent, slow, or reverse the cancer continuum. John Boik 
        has put forth a Herculean effort in gathering this invaluable work. If 
        implemented widely, then Boik’s work will be partly responsible for 
        a more enlightened approach to cancer treatment."<br>
        <b><em>HerbalGram</em>, Journal of the American Botanical Council</b></p>
      <p>"This ...work is an excellent reference for the potential use of 
        natural remedies in cancer treatment. &nbsp;The book is well-researched, 
        well-organized, and well-written." Score: 92/100--Four Stars."<br>
        <b>Review by Doody Publishing, independent reviewers of books on nursing, 
        clinical medicine, and allied health</b></p>
      <p>"This book provide a thorough, scholarly review of the use of herbal 
        and other complementary, alternative, or nontraditional therapies in the 
        prevention and treatment of cancer. This text fills an important gap in 
        the literature…and would be of value for clinicians, educators, and 
        researchers looking for a scholarly resource concerning alternative therapies. 
        Science-minded, sophisticated patients will also find this text valuable 
        because it can assist individuals in evaluating alternative/complementary 
        therapies that are of interest to them."<br>
        <b><i>Oncology Nursing Forum</i></b></p>
      <p>"It is not surprising that people have turned to 'alternative' ways 
        of preventing and dealing with [cancer]. But to do so in an intelligent 
        manner requires individuals to educate themselves both about the disease 
        and its potential treatments. That’s why <em>Cancer and Natural Medicine</em> 
        by John Boik is such an important addition to anyone's library."<br>
        <em><b>Healthy &amp; Natural Journal</b></em></p>
      <p>"Interesting and fact-filled. The book is clear to read, well produced 
        and packed with further references, from aconitum to zanthoxylum. Those 
        involved in cancer treatment should have this information available. To 
        practitioners of herbal medicine, it is an excellent primer on research 
        methodology. Either way, it will stimulate dialogue that can only be of 
        benefit to future cancer patients." <b><br>
        <i>Complementary Therapies in Medicine</i></b></p>
      <p>"The textbook is a useful reference for health professionals interested 
        in learning more about the biological effects of natural remedies in the 
        treatment of cancer." <b><br>
        <i>Canadian Oncology Nursing Journal</i></b></p>
      <p>"<cite>Cancer and Natural Medicine</cite> is a fascinating attempt 
        to outline the scientific basis for the treatment of cancer by natural 
        means. ...This book is a very worthwhile investment for any doctor interested 
        in the scientific background of alternative medicine." <br>
        <b><cite>Australian Doctor</cite> </b> </p>
      <p>"<cite>Cancer and Natural Medicine</cite> is full of well-organized 
        graphs, tables, and statistics worthy of any good medical library reference 
        text. ...The writing style is comparable to that seen in <em>Scientific 
        American Medicine</em>. ..Medical students looking for good reasons to 
        learn their basic science subjects well might be better motivated by taking 
        a look at this excellent reference work. Highly recommended."<br>
        <b><cite>Health Naturally</cite> (Canada)</b> </p>
      <p>"I first came across a copy of <em>Cancer and Natural Medicine</em> 
        on a colleagues desk. I picked it up, and could not put it down. I had 
        to have my own copy. This is a must book for any professional who works 
        with cancer patients. Also, I would not hesitate to recommend it to patients 
        who are questioning conventional therapy for their particular type of 
        malignancy. Even though there is a wealth of technical information, the 
        use of charts and cross-referencing makes this book extremely user-friendly. 
        I would hope that every oncologist in America would want a copy of this 
        book and that medical schools would use this book as part of their oncology 
        course--maybe I will see this in my lifetime."<br>
        <b>Review by Shari Lieberman, Ph.D., appearing in the newsletter for the 
        American Preventive Medical Association</b></p>
      <p>"This new reference may prove to be a useful tool to nurses and 
        others providing care to patients with cancer who have sought or are seeking 
        alternative [therapies]. ... I recommend this book as an important source 
        of additional information for the nurse working with cancer patients."<br>
        <b><i>WholeNurse</i></b></p>
      <p>"As a traditionally trained medical oncologist, I have found this 
        book to be invaluable as a review of the basics of my field and as a tool 
        to learn of other complementary components. It definitely has its place 
        on my reference shelf and is becoming a valuable tool in my practice." 
        <br>
        <b>Roy R. Hall, M.D.</b> </p>
      <p>"This book is superbly written and well researched. &nbsp;It thoroughly 
        describes the biological aspects of natural anticancer agents." <br>
        <b>Subhuti Dharmananda, Ph.D., Director, Institute For Traditional Medicine, 
        Portland, Oregon</b></p>
      <p>"...Mr. Boik approaches his subject matter in a comprehensive and 
        scholarly fashion. &nbsp;I would definitely recommend this book to the 
        health practitioner and sophisticated patient who want to gain a better 
        understanding of alternative therapies."<br>
        <b>David Ungar, M.D. (pediatric oncologist) </b></p>
      <p>"...As a medical oncologist familiar with many aspects of 'alternative' 
        cancer medicine, I found this book to be accurate and objective in its 
        presentation, up-to-date, and well-referenced. &nbsp;This book reads very 
        well and is highly recommended."<br>
        <b>Stephen B. Strum, M.D., F.A.C.P. </b></p>




        <br class="none">
        <br class="none">



</div>  <!-- id="box3L" -->


<div id="box3R">
<h2 class="home">Download</h2>

<p><em>Natural Compounds in Cancer Therapy</em> can be <a href="/static/data/NCCT2014.pdf">downloaded</a> for free.</p>



</div>  <!-- id="box3R" -->



</div>  <!-- id="wrapper3" -->



</small></center></div><small>  <!-- id="wrapper0" -->


	









</small></body></html>
