
<!DOCTYPE html>
<html  lang="en-US" prefix="og: http://ogp.me/ns#">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <title>OMP Books by John Boik</title>


    <link rel="stylesheet" href="{{ url_for('static', filename='css/omp_style.css') }}" >


    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35447340-1', 'auto');
        ga('send', 'pageview');
    </script>

</head>

  <div id="wrapper0">
    <div class="wrapper1b"></div>
    <div id="wrapper1">
      <table width="100%" cellspacing="5" cellpadding="1" border="0">
        <tbody>
          <tr>
          </tr>

      		<tr>
		        <td>
                    <a href="/omp_books"><img src="static/images/omp_cnm.gif" alt="Cancer and Natural Medicine" width="200" border='0'/></a>
      			</td>
		        <td> 
		            <a href="/omp_books"><img src="static/images/omp_ncct.jpg" alt="Natural Compounds in Cancer Therapy" width="200" style="border:1px solid black"/></a>
                </td>
		        <td>
              <table width="100%" border="0">
	              <tbody>
		              <tr>
			              <td>
			                <div class="hovermenu">
					              <ul>
						              <li> <a href="/omp_book_info">OMP Book Info</a></li>
                          <li id="contact"><a href="/contact">Contact PSP</a></li>
                          <li id="psp"><a href="/index">PSP Home</a></li>
						            </ul> 
				              </div>
				            </td>	    
		              </tr>
		              <tr> <td>&nbsp;</td></tr>

		              <tr class="bookTitle">
		                <td>
		                  <center>Oregon Medical Press<br>Books by John Boik<br>(Hosted by Principled Societies Project)</center>
		                  </td>	
		              </tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
		              <tr> <td>&nbsp;</td></tr>
	              </tbody>
              </table>			
            </td>
          </tr>
        </tbody>
      </table>	
    </div>  <!--  wrapper1 -->
    <div id="wrapper3">

<div id="box3L">

<br>
<h1>Cancer Books by John Boik</h1>		
<p> Prior to obtaining his PhD, John Boik wrote two highly acclaimed 
books on the subject of natural compounds and cancer therapy. The first 
was <i>Cancer and Natural Medicine</i> (1996). The second was <i>Natural Compounds in Cancer Therapy</i> (2001).  
Both were praised by medical, oncology, and health journals. His latest book is 
<a  href="/book_edd_about">Economic Direct Democracy</a> (2014). </p>


<br class="none">
<h2>Natural Compounds in Cancer Therapy</h2>

<p></p><blockquote> 
		  Boik, John. <em>Natural Compounds in Cancer 
        Therapy. </em> Oregon Medical Press, 2001, paperback, 
        520 pages, 8.5" x11", $32.00, ISBN: 0-9648280-1-4.
</blockquote> <p></p>

<p><i>Natural Compounds in Cancer Therapy</i> is a classic reference 
work for patients and medical professionals interested in use of 
nontoxic botanical compounds in the treatment of cancer. It offers a 
snapshot of the field circa 2001, and its insights are still pertinent 
today. <i>Natural Compounds in Cancer Therapy</i> was among the first 
books to discuss the use of natural products against cancer from a 
systems biology perspective. If you are a cancer patient, doctor, nurse,
 pharmacist, scientist, or herbalist, or simply have an interest in 
cancer or alternative medicine, you will find <i>Natural Compounds in Cancer Therapy</i> a highly informative and useful resource. </p>

<p>The book is <b>now back in print</b> and can be purchased 
    at <a href="http://www.amazon.com/Natural-Compounds-Cancer-Therapy-Promising/dp/0964828014">Amazon</a> for $32.  
    It can also be <a href="/static/data/NCCT2014.pdf">downloaded</a> in PDF form for free.  


</p><p>Reviews:
</p><ul>
<li><em>Positive Health</em>: A "masterpiece." </li>
<li><em>Choice</em>, Association of College &amp; Research Libraries: "One of the best in the field of herbal medicine"</li>
<li><em>Pharmaceutical Biology</em>:  A "jewel"</li>
<li><em>Journal of Natural Products</em>: "An informative and provocative book" </li>
<li><em>Bloomsbury Review</em>: "a must-have for anyone interested in botanical medicine" </li>
</ul>
<p></p>


<p>Additional <a href="/omp_book_info#NCCT">reviews</a> are available.  </p>



<br class="none">
<h2>Cancer and Natural Medicine</h2>

	  <p>
	  </p><blockquote> Boik, John. <em>Cancer and Natural Medicine: 
        A Textbook of Basic Science and Clinical Research. </em> 
        Oregon Medical Press, 1996, paperback, 331 pages, 8.5" x 11" 
        $28.00, ISBN: 0-9648280-0-6.
        </blockquote> 
        <p></p> 

<p><a href="/omp_book_info#CNM">Reviews</a> and a <a href="/static/data/toc_cnm.pdf">table of contents</a> are available.  
    The book is now out of print but can be purchased new or used 
    at <a href="http://www.amazon.com/Cancer-Natural-Medicine-Textbook-Clinical/dp/0964828006/ref=pd_sim_b_3">Amazon</a> for roughly $14 to $75. </p>

    
    <br class="none">
    <br class="none">
</div>  <!-- id="box3L" -->


<div id="box3R">
<h2 class="home">Download</h2>

<p><em>Natural Compounds in Cancer Therapy</em> can be <a href="/static/data/NCCT2014.pdf">downloaded</a> for free.</p>


</div>  <!-- id="box3R" -->



</div>  <!-- id="wrapper3" -->

</small></center></div><small>  <!-- id="wrapper0" -->


	
</small></body></html>
