{% extends "layout.html" %}


{% block title %}
  <title>Social Investor Slide Deck</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="Social Investor Slide Deck" />
  <meta property="og:description" content="Promoting the wellbeing centrality R&amp;D program, developing the LEDDA economic democracy framework" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Social Investor Slide Deck" />
  <meta name="twitter:description" content="Promoting the wellbeing centrality R&amp;D program, developing the LEDDA economic democracy framework" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Social Investor Slide Deck</h1>
      </div>
    </div>
  </div>


  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>On this page is a social investor slide deck for Phase I development of the still nascent science-oriented US-based nonprofit corporation tentatively named <b><i>Socio prospectus</i></b>.  If funded, this organization would carry out the work of developing and testing new social choice systems. The mission of <b><i>Socio prospectus</i></b> is to model and forecast collective wellbeing status, starting at the local-area level, and to research, develop, promote, implement, service, and report on new and/or improved social choice system designs.
      </p>
      
      <p>If you are a foundation or social investor, or have contacts and wish to help, please contact John Boik via the <a href="contact" >contact</a> page. A confidential social investment prospectus is available on request. An excerpt of the prospectus, containing only background information, is on <a href="https://medium.com/p/prospectus-for-socio-prospectus-ca4c4cfb8bb7" target="blank" >Medium.com</a>.
      </p>
      
    </div>
  </div>

  <div class="row">
<blockquote class="embedly-card" data-card-key="8de06659067842e0b608ad2cf2b2a471"><h4><a href="https://www.slideshare.net/johnboikPhd/social-investment-prospectus-for-socio-prospectus">Social investment prospectus for Socio prospectus</a></h4><p>This document is a social investment prospectus for Phase I development of the still nascent science-oriented US-based nonprofit corporation tentatively named ...</p></blockquote>
<script async src="//cdn.embedly.com/widgets/platform.js" charset="UTF-8"></script>  

  </div>
</div>


{% endblock %}




