{% extends "layout.html" %}


{% block title %}
  <title>Solving Problems That Matter</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:title" content="Solving Problems That Matter Could Be the Next Big Thing" />
  <meta property="og:description" content="By viewing a society as a problem-solving superorganism, the natural sciences and technology sector can go wild with possibilities. Designs of economic, governance, and legal systems fall into their domain." />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/wave.jpg" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/socio_prospectus" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Solving Problems That Matter Could Be the Next Big Thing" />
  <meta name="twitter:description" content="By viewing a society as a problem-solving superorganism, the natural sciences and technology sector can go wild with possibilities. Designs of economic, governance, and legal systems fall into their domain." />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/wave.jpg" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">


  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Solving Problems That Matter Could Be the Next Big Thing</h1>
        <p><b><i>
        By viewing a society as a problem-solving superorganism, the natural sciences and technology sector can go wild with possibilities. Designs of economic, governance, and legal systems fall into their domain.
        </i></b></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      
      <p><b>By John Boik, February 20, 2017</b></p> 
      
      <div>
        <img class="blog-pic" alt="The next big thing" src={{ url_for('static', filename="images/wave.jpg") }}>
      </div>
      


<p>
We celebrate disruptive technologies like the PC, the Internet, and the Internet-connected smartphone because they empower us. They allow us to do things that would have been unimaginable to past generations. Investors celebrate disruptive technologies for the profit they promise—or fear them for the losses they could generate.
</p>

<p>
It’s no wonder then that experts across all fields remain vigilant for the Next Big Thing. On the watch lists are robotics, the Internet of Things, 3-D printing, artificial intelligence, and others. 
</p>

<p>
But what if the Next Big Thing (or one of the next) is so big, so mind-blowing, so utterly disruptive, disruptive enough to render stock markets obsolete and income inequality nonexistent, and yet is almost invisible? This Next Big Thing is not on the radar because it’s unthinkable. Yet it’s coming because that’s where science is headed, because it’s what people want, and because the technology that it replaces is dismal.
</p>

<p>
The Next Big Thing I’m thinking of isn’t usually even considered a technology. It’s the capacity of communities to focus on and solve problems that matter. 
</p>

<p>
Many communities realize that their capacity to solve or successfully address big problems is seriously limited. Communities have been operating in a deficit for so long that it’s become the norm, and the result is a terrible mess. Climate change, severe income inequality, pollution, financial instability, habitat loss, budget shortfalls, excessive debt, poor health, and underfunded education are just a few that go unsolved. 
</p>

<p>
Our failure to focus on and solve problems that matter is now so severe that scientists warn the <a href="http://advances.sciencemag.org/content/1/5/e1400253" target="blank">sixth mass extinction event</a> may have already begun. We face the abyss, and that gets one to think. Perhaps radical improvements to our problem-solving systems might be a good idea. 
</p>

<p>
A community uses three primary problem-solving systems, which one can think of as <i>social choice systems</i> or <i>decision-making systems</i>. They are: economic/financial/monetary; governance/political; and legal/justice. Economic, governance, and legal systems, for short. Communities have inherited their systems, especially from the history of power struggles. This Next Big Thing is to design social choice systems consciously, informed by the deepest insights of science, technology, and medicine, in order to enhance problem-solving capacity.   
</p>

<p>
You might notice the repeated use here of the word <i>community</i>, as opposed to <i>society</i> or <i>nation</i>. That’s because a society, nation, civilization, or big city consists of networked communities, and communities are the natural testbeds for system innovation. 
</p>

<p>
A focus on local community is part of a strategy for disruption one can call <i>engage global, test local, spread viral</i>. Engage global means to engage the global academic community, and science and technology sectors, in a focused R&amp;D effort to identify designs of social choice systems that might be particularly good at helping communities focus on and solve problems that matter. Test local and spread viral are self-explanatory, and have been <a href="https://medium.com/@JohnBoik/an-economy-of-meaning-or-bust-2aa46457b649#.hv97ey8vp" target="blank">discussed elsewhere</a>. 
</p>

<p>
Note that scientific field testing of a new system could occur with as few as 1,000 volunteers (individuals, businesses, nonprofits, etc.), just a small fraction of the population within a city or region. Further, the system under test could operate in parallel with existing systems, as an overlay. In many countries a field trial would not require any legislative action; a civic club could host one. A prototype for the approach is the <a href="http://www.principledsocietiesproject.org/" >LEDDA framework</a>, but many designs are possible.
</p>

<p>
This Next Big Thing is still off radar, partly because it’s not an attractive investment opportunity for the standard VC crowd in Silicon Valley or elsewhere, nor for big business. Indeed, field trials might show that new local financial systems and integrated social business models are improvements over and potential replacements for their predecessors. Nevertheless, the radar blip for this Next Big Thing will soon grow visible because it’s a big opportunity for almost everyone else. 
</p>

<p>
It’s a big opportunity for social investors and for the many thoughtful scientists and engineers who wish to make the world a better place and who have the skills to do so. Already, leading scientists argue that climate change models, for example, should include <a href="https://phys.org/news/2017-02-climate_1.html" target="blank" >feedback loops related to economic policy</a> and to factors like inequality. It’s just one more step to see that policy itself is dependent on social choice system design, which implies that designs could and should be critically examined with an eye toward innovation.
</p>

<p>
The big winners, of course, will be communities that wish to empower themselves by becoming more resilient and robust. Technology, by itself, won’t bring this about. In fact, it could destroy us all. What will bring it about is wisdom, aided by technology. Together, they enable <i>effective wisdom</i>, the capacity to focus on and solve problems that matter. Effective wisdom is a mixture of caring and creativity, and requires information to support understanding. 
</p>

<h2><i>Socio prospectus</i>, Wisdom, and Human Needs</h2>

<p>
Human are driven to focus on and solve problems that matter—driven to expand, ever further, effective wisdom. This drive has been hard-wired deep into our biology by eons of evolution, over countless ancestral species. Even bacteria communicate and cooperate to solve problems. As a result, if we disregard, distort, or subvert this drive, in ourselves or in others, we do so at our own peril. We alienate ourselves from who we actually are, from what nature made us to be. And that cannot end well. 
</p>

<p>
A concept now emerging from positive psychology and cognitive sciences, made popular by US psychologist <a href="https://philpapers.org/rec/SELHP" target="bank">Martin Seligman and colleagues</a>, is that of <i>Homo prospectus</i>. It holds that evolution has produced animal brains that are primarily anticipatory, or forward thinking. Brains try to understand the past and present in order to choose actions that lead to a good future. The human ability to anticipate outcomes decades or more into the future has given us a tremendous survival advantage over other animals that have far shorter anticipatory horizons. 
</p>

<p>
The human brain creates internal models of the world, some of which are associative (fast and largely unconscious) and some of which are logical (slow and more conscious). Both types are informed by whiffs of emotion, leading, in part, to our sense of intuition. No models are perfect. Memory space is limited, and so too is the energy necessary for computation and for maintenance of stored information. Many things can go wrong and humans, obviously, make mistakes. Hopefully, we avoid the most foolish and costly ones. To the degree that individuals create accurate models of the world and act according to what is revealed, they become <i>Homo sapiens</i>, wise man. 
</p>

<p>
Wise humans focus on and solve problems that matter, which are the problems or challenges that relate to real human needs. The Chilean economist Manfred Max-Neef identifies <a href="https://www.ncbi.nlm.nih.gov/pubmed?Db=pubmed&Cmd=Retrieve&list_uids=20701177&dopt=abstractplus" target="blank">nine categories</a>: subsistence, protection, affection, understanding, participation, leisure, creation, identity, and freedom. We can assume that the long path of evolution has inserted these needs deep into our biology, making their fulfillment deeply meaningful, because it made survival more likely. Seen this way, our needs are gifts of nature, worthy of respect.
</p>

<p>
Now take the next step. Imagine a society as a superorganism, <i>Socio prospectus</i>, consisting of many individuals connected by links of influence. The name <i>prospectus</i> comes from inheriting the anticipatory drive from individuals. <i>Socio prospectus</i> also inherits its needs from individuals. 
</p>

<p>
Akin to the case for individuals, a society becomes <i>Socio sapiens</i> to the degree that it creates accurate anticipatory models of the world, for the purpose of solving problems that matter, and then acts according to what is revealed. 
</p>

<p>
Take one final step. With regard to problem solving, <i>Socio prospectus</i> can be viewed abstractly as a distributed computing network, where individuals (like individual supercomputers) are connected by information links. With this image in mind, and with tools from such fields as complex systems science and information theory, the natural sciences and technology sector can go wild with possibilities. This is because, perhaps for the first time, the designs of economic, governance, and legal systems can be seen as falling into their domain. 
</p>

<p>
In this picture, the information links that connect individuals are social choice systems. Thus, science can finally ask, out of all conceivable designs, which ones might be best at helping communities focus on and solve problems that matter? Science can ask this because metrics naturally arise to provide answers. That is, the relative “goodness” of a design can be measured, and what can be measured can be improved. More details are in my working paper “<a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">Optimality of Social Choice Systems</a>” and its lay summary, “<a href="https://medium.com/@JohnBoik/wellbeing-centrality-toward-an-economics-and-politics-of-meaning-91d7c7a59c30#.1cgpnr8rq" target="blank">Wellbeing Centrality</a>.”
</p>

<p>
A recap of material so far might help. A society is wise to the degree that its individuals are wise, and to the degree that the information flows between people are of high quality (low noise, and sufficient speed, magnitude, and breadth, or bandwidth). Thus, relatively optimal social choice systems are relatively good at encouraging the development of wisdom in individuals (itself <a href="https://www.ncbi.nlm.nih.gov/pubmed/23597933" target="blank">now a topic of science</a>). And they are relatively good at communicating information between individuals in such a way that computation of the whole system is high. Computation here means understanding past and present in order to develop solutions to problems that matter. Formal computational models would be but one of many aspects. 
</p>

<h2>Envisioning a Wise Society</h2>

<p>
With <i>Socio prospectus</i> in mind, it becomes clear where science and technology are likely headed. The glory and promise of the Internet is not so much to sell products, but to connect people so that they can exchange information and better solve problems that matter. Likewise, investors in artificial intelligence may be concerned about profits, but the glory and promise of AI is to build better anticipatory models, which serve to increase effective wisdom. Further, AI could be used to suggest improved designs for social choice systems.
</p>

<p>
The concept of <i>Socio prospectus</i> has power to change almost everything, including capitalism and representative democracy. When science begins to examine the relative optimality of social choice system designs, current ones will likely score low. After all, they evolved without insights from modern science. Given a choice, communities would want to trial systems that are expected to perform well. Thus, the new designs tested in field trials would likely be quite different from the old ones. 
</p>

<p>
Conditions would not change overnight, however, even in a community conducting a trial. As with any well-engineered process, the rate of change would be tempered to be realistic and viable; a good trial is designed to succeed. Change would come in a predictable and transparent path, growing faster as time passes.
</p>

<p>
Jump ahead now to a mature test system, and imagine, if you can, a local economy in which incomes are high, equal, and secure for every family, regardless of work status. Money functions as a bona fide voting tool in economic democracy, which means it hardly resembles its current conceptualization. Wealth is understood as a high degree of collective wellbeing. Jobs are meaningful and empowering. Cooperation, rather than vicious competition and greed, is rewarded by design. For those having trouble imagining, the <a href="https://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/" target="blank">first simulation of such a system</a> (the LEDDA framework) has already been published.
</p>

<p>
Imagine a local economy where everyone is an equal social investor and the community not only funds the types of jobs that it wants and needs, it also chooses the relative size of nonprofit vs. for-profit sectors. If it wished, it could create a local economy in which a <a href="http://www.principledsocietiesproject.org/rice_poster" >majority of jobs were in the nonprofit sector</a>. By doing so, it could fund open-source and open-design projects, public news and investigative reporting, the arts, education, science and research, community clinics and hospitals, and/or other ideas and efforts that the community deems valuable. Imagine what a community could do with a massive flow of funds. In the LEDDA simulation, a US county of just 100,000 adults circulated billions in currency annually through its local financial system.
</p>

<p>
Imagine shorter work days, which allow more time for family, friends, study, and participation in decision-making processes. Imagine a free flow of information, including a free flow of intellectual property, so that creativity soars and everyone has access to new ideas. Imagine big business and big banks being superseded by networks of small to medium-sized, socially responsible, locally owned and locally financed organizations.
</p>

<p>
Imagine a technology-enabled <a href="http://www.principledsocietiesproject.org/book_edd_download">collaborative governance system</a>, where sophisticated simulation models help inform policy choices, and where widely supported decisions are made by the whole community in an open, deliberative, and transparent process, without formal political parties. 
</p>

<p>
Imagine local economic, governance, and legal systems that are designed to function as problem-solving systems. They are fair, engaging, and transparent, and as a result are able to continually elevate collective wellbeing, both social and environmental. Imagine a global network of empowered communities cooperating in trade, education, science, environmental protection, and in other ways. 
</p>

<p>
New systems that better reflect human needs and human nature, that allow us to be ourselves ever more fully, and that demonstrate clear benefits, will be highly competitive with old systems. As they spread, imagine a greater thriving of life on Earth, with ecosystems repaired and enhanced by human care, and with greater cooperation among people and communities. Then you can glimpse the future, awaiting only our first bold, purposeful steps. 
</p>

     
<br>
<p>
******<br>
      John Boik, PhD<br>
Author, <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i> (2014) and founder, Principled Societies Project (<a href="http://www.PrincipledSocietiesProject.org">http://www.PrincipledSocietiesProject.org</a>).<br>
@JohnBoik
</p>

<p>
Please share and republish. <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
</p> 

<h4>
Are you satisfied with current economic systems? Do you support R&amp;D on new ones? <a href="https://www.surveymonkey.com/r/DTZNC7G" target="blank">Take our survey</a> and tell us what you think.
</h4>
      
    </div>
  </div>  
</div>
<br>


{% endblock %}
