

<p>The simulated token-­dollar economy (the modeled world) comprises five primary aggregate agents, termed Persons, Government, CBFS, Organizations, and Rest-­of-­Counties (RoC). All agents pertain to the county in which the LEDDA exists, except RoC, which represents all other US counties. The Organizations agent represents all for-profit businesses and nonprofit organizations. The Government agent represents local accounts for state and federal governments. The CBFS agent represents the LEDDA financial 
system. The Persons agent represents the set of all individuals in the county.</p>

<p>These five primary agents are subdivided into 23 different nodes. For example, one node of the Organizations agent is the set of standard businesses that have joined as LEDDA members. Individuals and organizations voluntarily join a LEDDA.</p>  

<p>The local electronic currency is called the token. In the models, the expected purchasing power of the token is equal to that of the dollar (fixed in some year, such as 2016). The token is designed to be inflation-free. It is issued debt free. A LEDDA creates and destroys tokens as required via a transparent process. The membership democratically manages it's LEDDA. Incomes are reported as T&D (tokens plus dollars). </p>  

<p>To offer some degree of realism, dollar income distributions are based on US Census data for an example county (Lane County, Oregon). More details are in (Boik, 2014). Assumptions include the following:
<ul>
<li>The economy does not shrink or grow during the period prior to equlibrium.  Nor does inflation occur. The dollar economy is static.</li>


</ul>
</p>
