{% extends "layout.html" %}


{% block title %}
<title>Survey</title>
{% endblock %}

{% block page_head %}

<style>
</style>

{% endblock %}

{% block body %}

<br>
<br>

<div class="container-fluid">
  <div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 cols-sm-12 col-xs-12">
    <script>(function(e,t,n,s){var o,c,d;e.SMCX=e.SMCX||[],t.getElementById(s)||(o=t.getElementsByTagName(n),c=o[o.length-1],d=t.createElement(n),d.type="text/javascript",d.async=!0,d.id=s,d.src=["https:"===location.protocol?"https://":"http://","widget.surveymonkey.com/collect/website/js/gGFmG1bJPKbdsWj08nASkYYSdn7_2BnENm3yQaFzxBgf7JpRd_2BZs_2Bugneqds5kBvgT.js"].join(""),c.parentNode.insertBefore(d,c))})(window,document,"script","smcx-sdk");</script><a
    style="font: 12px Helvetica, sans-serif; color: #999; text-decoration: none;" href=https://www.surveymonkey.com/mp/customer-satisfaction-surveys/> Create your own user feedback survey </a> 
    </div>
  </div>
</div>


{% endblock %}
