
{% extends "layout.html" %}

{% block title %}
    <title>Videos and Interviews</title>
{% endblock %}


{% block page_head %}
    <script>
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-35447340-1', 'auto');
        ga('send', 'pageview');
    </script>

    <meta property="fb:app_id" content="312890269112844" /> 
    <meta property="og:type" content="website" /> 
    <meta property="og:title" content="PSP Videos and Interviews" />
    <meta property="og:description" content="List of videos and interviews discussing the Principled Societies Project" />
    <meta property="og:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta property="og:url" content="https://principledsocietiesproject.org/videos" />
    <meta property="og:site_name" content="Principled Societies Project" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="PSP Videos and Interviews" />
    <meta name="twitter:description" content="List of recent videos and interviews discussing the Principled Societies Project" />
    <meta name="twitter:image" content="https://principledsocietiesproject.org/static/images/globe_12.png" />
    <meta name="twitter:site" content="@JohnBoik" />
    <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h1>Videos and Interviews</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">

        <p>This page collects videos and interviews with John Boik about the Principled Societies Project and/or Boik's <a href="articles_media">series of papers</a> on societal transformation published (2020/2021) in <i>Sustainability</i>.    
        <p>
    </div>
</div>


<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Recent and Upcoming Videos and Interviews</h2>
        </div>
    </div>
</div>


<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
        
        <ul>
        
        <li>
        <b>February 18, 2021.</b> Interview by Lee Camp, host of <a href="https://www.youtube.com/watch?v=DrHQkkrLNYw" target="blank">Redacted Tonight</a>. <br /> <br />
         <a href="https://www.youtube.com/watch?v=DrHQkkrLNYw" target="blank">
            <img src="static/images/Lee_Camp_sm.png" alt="Lee Camp interview" height="400"/>
        </a> 
        <br /> <br />
        </li>

        <li>
        <b>February 19, 2021, 1 PM Pacific.</b> Informal, virtual talk at Oregon State University, <a href="https://gradschool.oregonstate.edu/environmental-sciences-graduate-program-esgp" target="blank">Environmental Sciences Graduate Program</a>. A link to the recorded talk will be posted here when available.
        <br /> <br />
        </li>


        <li>
        <b>March 12, 2021, 9 AM Pacific.</b> Interview by Steve Schaefer, host of <a href="https://kpov.org/the-point" target="blank">The Point</a> on community radio KPOV, Bend, Oregon. 
        <br /> <br />
        
        <img src="static/images/the_point.png" alt="Economic Direct Democracy" height="200"/>&nbsp;
            
            <a href="static/data/PointFri_20210312JohnBoikEDITED.mp3" target="blank">Listen to The Point Podcast</a>
        <br /> <br />
        </li>



        
        <li>
        <b>April 6, 2021, 3-5 PM Pacific.</b> First in a series of at least three special interactive events with <a href="https://www.youtube.com/channel/UCbPq2w41ZaJSWtpCq4BE6Dg" target="blank">Active Inference Lab</a> YouTube channel. To join the live conversations, <a href="https://forms.gle/yem57jkue4DzvJ5J7" target="blank">please RSVP in advance</a>. 
        
        <br /> <br />
         <a href="https://www.youtube.com/watch?v=z9ZCjd2rqGY" target="blank">
            <img src="static/images/active_inf_s01.png" alt="Active Inference Lab, special interview 1" height="400"/>
        </a> 
        <br /> <br />
        </li>
    

        <li>
        <b>April 13, 2021, 3-5 PM Pacific.</b> Second in a series of at least three special interactive events with <a href="https://www.youtube.com/channel/UCbPq2w41ZaJSWtpCq4BE6Dg" target="blank">Active Inference Lab</a> YouTube channel. To join the live conversations, <a href="https://forms.gle/yem57jkue4DzvJ5J7" target="blank">please RSVP in advance</a>. 
        
        <br /> <br />
         <a href="https://www.youtube.com/watch?v=stTkXe34Vvk" target="blank">
            <img src="static/images/active_inf_s02.png" alt="Active Inference Lab, special interview 2" height="400"/>
        </a> 
        <br /> <br />
        </li>

    
        <li>
        <b>April 20, 2021, 3-5 PM Pacific.</b> Third in a series of at least three special interactive events with <a href="https://www.youtube.com/channel/UCbPq2w41ZaJSWtpCq4BE6Dg" target="blank">Active Inference Lab</a> YouTube channel. To join the live conversations, please <a href="https://forms.gle/yem57jkue4DzvJ5J7" target="blank">RSVP in advance</a>.  
        <br /> <br />
        </li>

    
        <li>
        <b>May 4 and 11, 2021, 7-9 AM Pacific.</b> Series of two interactive events with <a href="https://www.youtube.com/channel/UCbPq2w41ZaJSWtpCq4BE6Dg" target="blank">Active Inference Lab</a> YouTube channel that is part of their regular programming. These two talks will focus on Part III of the <i>Sustainability</i> series. Information is <a href="http://rb.gy/kvnpyc" target="blank">here</a>.  
        <br /> <br />
        </li>
        
        </ul>
    
    </div>
</div>  



<div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
        <div class="sect-header blue-sect">
            <h2>Older Videos</h2>
        </div>
    </div>
</div>
        
        
<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">


        <hr />
        <p>Local Financial System Animation. Introduces the Token Exchange System. The video stems from John Boik’s 2012 book, 
            <i>Creating Sustainable Societies</i>. That book is superseded by <i>Economic Direct Democracy</i>, and so the video is 
            a bit outdated. A Portuguese translation is available 
            <a href="https://youtu.be/NnseGW93WJY" target="_blank">here.
        </p>

        <iframe width="679" height="412" src="https://www.youtube.com/embed/xGmKcS5PbDE" allowfullscreen></iframe>

        <br>
        <br>

    </div>
</div>

<div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect about-sect">
        <a href="http://feedshark.brainbliss.com">Feed Shark RSS</a>
    </div>
</div>

{% endblock %}
