{% extends "layout.html" %}


{% block title %}
  <title>Who Should Be Interested</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>

  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="website" /> 
  <meta property="og:title" content="Who Should Be Interested" />
  <meta property="og:description" content="Who should be interested in the LEDDA framework and wellbeing centrality program?" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/who_interested" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Who Should Be Interested" />
  <meta name="twitter:description" content="Who should be interested in the LEDDA framework and wellbeing centrality program?" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/globe_12.png" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />


{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Who Should Be Interested?</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>Many groups might have interest in the LEDDA framework. Consider that once a LEDDA is established, even in a modest size city, it's Crowd-Based Financial System (CBFS, see <a href="glossary" >glossary</a> for this and other terms) could potentially fund local nonprofit and for-profit organizations at a massive level. In a published <a href="http://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/">simulation model</a> of an idealized LEDDA in a US county of only 10,000 adults, annual CBFS funding was in the billions of tokens plus dollars (T&amp;D). Moreover, a LEDDA empowers a community to focus on and solve problems that matter using a new form of deep democracy.
      </p>
    </div>
  </div>  
</div>
<br>


<div class="container">

  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for academics" src={{ url_for('static', filename="resources/Icon_Academics.png") }}>
        <h4 class="larger blue-sect">
          Academics and scientists
        </h4>
        <p>
          New, secure funding could exist for research projects in a wide variety of fields related to wellbeing and social choice system optimality.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for funders" src={{ url_for('static', filename="resources/Icon_FundingAgencies.png") }}>
        <h4 class="larger blue-sect">
          Funding agencies, foundations, and philanthropists
        </h4>
        <p>
          The opportunity is to achieve transformative public benefit with a relatively small social investment. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for governments" src={{ url_for('static', filename="resources/Icon_LocalGovernments.png") }}>
        <h4 class="larger blue-sect">
          Local governments
        </h4>
        <p>
          Tax revenues to local (and other) governments could rise dramatically. In the published simulation model, tax revenues tripled.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for schools" src={{ url_for('static', filename="resources/Icon_LocalSchools.png") }}>
        <h4 class="larger blue-sect">
          Local schools, including higher education
        </h4>
        <p>
          LEDDA members could and likely would spend CBFS funds on public education (at all levels and grades).
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for farmers" src={{ url_for('static', filename="resources/Icon_LocalFarms.png") }}>
        <h4 class="larger blue-sect">
          Local farms and small businesses
        </h4>
        <p>
          The CBFS funds local farms and businesses with subsidies and interest-free loans. Further, members patronize local businesses to build a strong local circulation of currency.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for employees" src={{ url_for('static', filename="resources/Icon_Employees.png") }}>
        <h4 class="larger blue-sect">
          Employees
        </h4>
        <p>
          Members use the CBFS to fund the types of jobs that they feel are meaningful and useful. Members create the kind of economy and jobs that they want.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for families below 90th percentile" src={{ url_for('static', filename="resources/Icon_Families-90.png") }}>
        <h4 class="larger blue-sect">
          Families falling below the 90th percentile of income
        </h4>
        <p>
          Every family that joins a LEDDA sees an income gain. In the published simulation model, mean family income more than doubled.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for families above 90th percentile" src={{ url_for('static', filename="resources/Icon_Families+90.png") }}>
        <h4 class="larger blue-sect">
          Families falling above the 90th percentile of income
        </h4>
        <p>
          A LEDDA exists to elevate collective wellbeing. Better public health, lower crime and pollution, and other gains help all people, members or not.
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for pubic health" src={{ url_for('static', filename="resources/Icon_PublicHealth.png") }}>
        <h4 class="larger blue-sect">
          Public health agencies and health advocacy groups
        </h4>
        <p>
          LEDDA members could and likely would spend CBFS funds on public health and disease prevention programs. Higher incomes can also mean better access to health care.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for environmental groups" src={{ url_for('static', filename="resources/Icon_EnvironmentalGroups.png") }}> 
        <h4 class="larger blue-sect">
          Environmental groups
        </h4>
        <p>
          A LEDDA can and likely would fund jobs in environmental protection and restoration, including sustainable agriculture.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for nonprofits" src={{ url_for('static', filename="resources/Icon_NonprofitOrganizations.png") }}>
        <h4 class="larger blue-sect">
          Nonprofit organizations
        </h4>
        <p>
          The CBFS funds local nonprofits with subsidies and interest-free loans. In <a href="rice_poster">one simulation</a>, the nonprofit sector grew to employ about half of the local workforce.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for labor groups" src={{ url_for('static', filename="resources/Icon_LaborGroups.png") }}>
        <h4 class="larger blue-sect">
          Labor unions
        </h4>
        <p>
          A LEDDA eventually achieves a high and equal income for all members. Moreover, it funds meaningful jobs of the membership's choosing. 
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for religious groups" src={{ url_for('static', filename="resources/Icon_ReligeousGroups.png") }}>
        <h4 class="larger blue-sect">
          Religious, spiritual, and social conscious groups
        </h4>
        <p>
          A LEDDA exists to elevate collective wellbeing; it works toward a just, peaceful, caring, and cooperative society. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for open source" src={{ url_for('static', filename="resources/Icon_OpenSourceGroups.png") }}>
        <h4 class="larger blue-sect">
          Open-source, open-design, and commons groups
        </h4>
        <p>
          A LEDDA generates intellectual property and shares it via a type of IP pool or commons.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img alt="icon for public banking" src={{ url_for('static', filename="resources/Icon_PublicBanking.png") }}>
        <h4 class="larger blue-sect">
          Public banks and credit unions
        </h4>
        <p>
          Public banks and credit unions are natural partners to help handle the potential billions in annual currency that could flow though a CBFS.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <h4 class="larger blue-sect">
        </h4>
        <p>
        </p>
    </div>
  </div>

</div>


{% endblock %}
