{% extends "layout.html" %}


{% block title %}
  <title>Who Should Be Interested</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>
{% endblock %}


{% block body %}

<div class="container-fluid">

  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Who Should Be Interested?</h1>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      <p>Many groups might benefit from and have interest in wellbeing centrality programs and the LEDDA framework. One driver for interest might be that once a LEDDA is established, even in a modest size city, it's Crowd-Based Financial System (<a href="#" >CBFS</a>) can potentially fund member nonprofit and for-profit organizations at a massive level. In a published <a href="#">simulation model</a>, which illustrates currency flows in an idealized LEDDA of only 10,000 adults, annual CBFS funding was in the billions of tokens plus dollars (T&D). Each member chooses how their contributed portion of these funds will be spent. 
      </p>
    </div>
  </div>  
</div>
<br>


<div class="container">

  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_Academics.png") }}></img> 
        <h4 class="larger blue-sect">
          Academics and scientists
        </h4>
        <p>
          New funding could exist for socially important, high-impact research projects in the fields of sociology, statistics, computer science and AI, engineering, environmental science, law, education, political science, business, finance, complex systems science, cognitive psychology, public health, sustainable agriculture, and more.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_FundingAgencies.png") }}></img> 
        <h4 class="larger blue-sect">
          Funding agencies, foundations, and philanthropists
        </h4>
        <p>
          The opportunity is to achieve transformative public benefit with a relatively small social investment. The group(s) that fund the world's first WSSE university program are apt to receive global public recognition.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_LocalGovernments.png") }}></img> 
        <h4 class="larger blue-sect">
          Local governments (including cities and counties)
        </h4>
        <p>
          Tax receipts and other revenues to local (and state/national) governments could rise dramatically, even double or triple. In the published model, total tax payments tripled over time.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_LocalSchools.png") }}></img> 
        <h4 class="larger blue-sect">
          Local schools, including higher education and research
        </h4>
        <p>
          LEDDA members could and likely would spend CBFS funds on public education (at all levels and grades) and on research aimed at improving collective wellbeing
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_LocalFarms.png") }}></img> 
        <h4 class="larger blue-sect">
          Local farms and small businesses
        </h4>
        <p>
          A special arm of the CBFS exists to fund local farms and businesses with loans and subsidies. Interest-free loans are also offered. Further, LEDDA members would want to shop at and support member businesses in order to build a strong circulation of local currency.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_Employees.png") }}></img> 
        <h4 class="larger blue-sect">
          Employees
        </h4>
        <p>
          Members use the CBFS to fund the types of jobs that they feel are meaningful and useful. Because the goal of a LEDDA is to improve collective wellbeing, most jobs will serve this purpose. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_Families-90.png") }}></img> 
        <h4 class="larger blue-sect">
          Families falling below the 90th percentile of income
        </h4>
        <p>
          Every family that joins a LEDDA should see an income gain over baseline. In the published model, the final income target was about 110,000 T&D, near the 90th percentile of starting family income.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_Families+90.png") }}></img> 
        <h4 class="larger blue-sect">
          Families falling above the 90th percentile of income
        </h4>
        <p>
          The purpose of a LEDDA is to maximize collective wellbeing. One could expect a LEDDA to improve public health, reduce crime, reduce pollution, improve cooperation, and bring other benefits. These efforts help all people, regardless of whether they are LEDDA members or not.
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_PublicHealth.png") }}></img> 
        <h4 class="larger blue-sect">
          Public health agencies and health advocacy groups
        </h4>
        <p>
          LEDDA members could and likely would spend CBFS funds on public health and disease prevention programs. Also, by increasing family income and by funding education and other beneficial programs, the factors (social determinants of disease) associated with high disease rates would improve.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_EnvironmentalGroups.png") }}></img> 
        <h4 class="larger blue-sect">
          Environmental groups
        </h4>
        <p>
          By aligning economic activity with the purpose of maximizing collective wellbeing (which includes environmental wellbeing), and by funding local nonprofit organizations, a LEDDA can fund jobs in environmental protection and restoration and otherwise act to improve environmental health and wellbeing
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_NonprofitOrganizations.png") }}></img> 
        <h4 class="larger blue-sect">
          Nonprofit organizations
        </h4>
        <p>
          A special arm of the CBFS exists to fund nonprofit organizations with donations. Interest-free loans are also offered. The nonprofit sector can grow as large as a LEDDA chooses, and CBFS funding allows wages to be paid at the income target. In a yet-unpublished simulation model, a LEDDA chooses to employ more than half of the member workforce in the nonprofit sector. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_LaborGroups.png") }}></img> 
        <h4 class="larger blue-sect">
          Labor unions
        </h4>
        <p>
          A LEDDA eventually achieves a high and equal income for all members. Moreover, it funds meaningful jobs of the membership's choosing. Secure, high-wage, quality jobs are of central concern to labor unions.
        </p>
    </div>
  </div>
  <div class="row about-glyphrow">
    <div class="col-xl-3 col-lg-3 col-md-3 cols-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_ReligeousGroups.png") }}></img> 
        <h4 class="larger blue-sect">
          Religious, spiritual, and social conscious groups
        </h4>
        <p>
          The purpose of a LEDDA is to maximize collective wellbeing. Naturally, a LEDDA works toward a more just, peaceful, caring, and cooperative society, free of poverty and destitution. A LEDDA is also deeply democratic and highly transparent by design, which alone can produce social benefits.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_OpenSourceGroups.png") }}></img> 
        <h4 class="larger blue-sect">
          Open-source, open-design, and commons groups
        </h4>
        <p>
          The LEDDA framework incorporates a platform to share intellectual property that resembles a pool of open source IP. Moreover, a LEDDA could and likely would spend CBFS funds to create IP that helps improve wellbeing. Software development, arts, media, technology, and other creative endeavors are likely to receive funding. Real property (for example, park land and housing) could also be funded and held in common. 
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <img src={{ url_for('static', filename="resources/Icon_PublicBanking.png") }}></img> 
        <h4 class="larger blue-sect">
          Public banking, credit union, and basic income groups
        </h4>
        <p>
          Public banks and community credit unions are natural partners. For example, a LEDDA might partner with a local credit union to handle some aspects of currency transactions and savings. Potentially, this could involve billions in token and dollar flows annually, even for a modest size LEDDA. The LEDDA framework can be viewed as providing a basic income to all members, only rather than a minimal basic income it provides a high and equal income.
        </p>
    </div>
    <div class="col-xl-3 col-lg-3 col-md-3 col-sm-12 col-xs-12 prov-glyph">
        <h4 class="larger blue-sect">
        </h4>
        <p>
        </p>
    </div>
  </div>

</div>


{% endblock %}
