{% extends "layout.html" %}


{% block title %}
  <title>Why Stop at Basic Income and a Living Wage?</title>
{% endblock %}


{% block page_head %}
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-35447340-1', 'auto');
    ga('send', 'pageview');
  </script>


  <meta property="fb:app_id" content="312890269112844" /> 
  <meta property="og:type" content="article" /> 
  <meta property="og:title" content="Why Stop at Basic Income and a Living Wage?" />
  <meta property="og:description" content="We can ask the big question: Out of all conceivable economic system designs, which ones might be best at helping us to focus on and solve problems that matter?" />
  <meta property="og:image" content="http://www.PrincipledSocietiesProject.org/static/images/global-warming-2034896_1280.jpg" />
  <meta property="og:url" content="http://www.PrincipledSocietiesProject.org/why_stop_at_basic_income" />
  <meta property="og:site_name" content="Principled Societies Project" />

  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:title" content="Why Stop at Basic Income and a Living Wage?" />
  <meta name="twitter:description" content="We can ask the big question: Out of all conceivable economic system designs, which ones might be best at helping us to focus on and solve problems that matter?" />
  <meta name="twitter:image" content="http://www.PrincipledSocietiesProject.org/static/images/global-warming-2034896_1280.jpg" />
  <meta name="twitter:site" content="@JohnBoik" />
  <meta name="twitter:creator" content="@JohnBoik" />

{% endblock %}


{% block body %}

<div class="container-fluid">


  <div class="row">
    <div class="col col-lg-12 col-xl-12 sect-title">
      <div class="sect-header blue-sect">
        <h1>Why Stop at Basic Income and a Living Wage?</h1>
        <p><b><i>
        We can ask the big question: Out of all conceivable economic system designs, which ones might be best at helping us to focus on and solve problems that matter?
        </i></b></p>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col col-lg-12 col-xl-12 p-sect">
      
      <p><i>By John Boik, February 6, 2017</i></p> 
      
      <div>
        <img class="blog-pic" alt="Which economic system designs can best help us to solve problems?" src={{ url_for('static', filename="images/global-warming-2034896_1280.jpg") }}>
      </div>
      


<p>
Living wage is heating up as an issue. According to the <i>New York Times</i>, <a href="http://www.nytimes.com/interactive/2017/01/05/business/economy/state-minimum-wages.html" target="blank">19 states</a> raised their minimum wage in 2017. So, too, are people debating the idea of <a href="https://www.theguardian.com/politics/2017/jan/08/universal-basic-income-glasgow-welfare-revolution" target="blank">universal basic income</a>, usually conceived as a monthly cash payment (perhaps equivalent to around a thousand US dollars) that a government gives unconditionally to all its adult citizens. Pilot programs have already launched or are being planned in multiple countries, including Scotland and Canada. Some leaders in <a href="https://www.vice.com/en_us/article/something-for-everyone-0000546-v22n1" target="blank">Silicon Valley</a> are getting behind the idea as a way to address the expected rise in technology-induced unemployment. 
</p>

<p>
Such efforts are important, exciting, and hope-inspiring, especially for those who are not in the workforce, are unemployed, or who fall into lower income classes—in other words, the majority of the population. Raising the minimum wage and implementing a basic income could lessen the pain and injustices inflicted by current (micro and macro) economic systems. But why stop there? These efforts could be just the first steps toward deeper transformation. As communities and societies, we could ask the big question: <i>Out of all conceivable economic system designs, which ones might be best at helping us to focus on and solve problems that matter?</i>
</p>

<p>
In my recent working paper “<a href="https://ideas.repec.org/p/psp/wpaper/0005.html" target="blank">Optimality of Social Choice Systems: Complexity, Wisdom, and Wellbeing Centrality</a>,” I call on the global academic community, and science and technology sector, to help develop answers. Recent advances in environmental sciences, complex systems science, psychology and cognitive sciences, sociology, public health, and other fields can be brought to bear. 
</p>

<p>
Within the big question is a working definition of relative goodness, or, as I call it in the paper, <i>relative optimality</i>. Relative optimality, a measure of system quality, has two components: problem-solving capacity, and degree of collective wellbeing that stems from successful problem solving. 
</p>

<p>
Take any set of design proposals for better economic systems, including any you dream up yourself. For reasons that will soon be discussed, imagine that your community or city wished to evaluate systems in order to choose a good one for a pilot trial. To provide greatest flexibility, assume that one or more designs employ a bi-currency system, where a local, community currency circulates in parallel with the national currency. Then, with a working definition of relative optimality in mind, we can begin to tackle the great many questions that naturally arise. 
</p>

<p>
For example, how should wellbeing be defined and indexed, so that systems can be compared? What kind of data-gathering program is needed to evaluate wellbeing, or problem-solving capacity, or to demonstrate success? Who has access to the data? Who does the assessment, and how often? How transparent is the system?
</p>

<p>
If an economic system is viewed as a decision-making system, how should decision-making power be distributed? How is money conceived of? Is money a bona fide voting tool? If so, are incomes equal? In a representative democracy, the idea is one person, one vote. In a system of <a href="http://www.principledsocietiesproject.org/book_edd_download" target="blank">economic direct democracy</a>, is the equivalent, say, one person, $50,000 votes? How transparent are incomes?
</p>

<p>
If inequality is accepted, how is it justified? If a certain degree of income inequality is accepted, how does the system prevent a greater flow of wealth to the already wealthy? 
</p>

<p>
Is a national or global stock market the best institution to help a community focus its capital resources on solving problems that matter? If a different type of local institution is better, how would it work, how would decisions be made, and by whom? 
</p>

<p>
Is the proposed system realistic, as per stock-flow consistency? That is, is there a plausible model of money circulation such that all flows are accounted for? What about dynamics? Are there potential bottlenecks that would hinder or harm flows? How adaptable is the system to stress? Is it resilient and robust? 
</p>

<p>
How transparent are businesses? What about monopolies? Can a community impact how large a company can grow? Is cooperation, as opposed to competition, rewarded in business? If so, by what mechanisms? Is a “buy local” program part of the system? If so, how does it work, and how is trade with outside areas viewed?
</p>

<p>
Is intellectual property protection necessary? Is there a better system that would fuel greater creativity? Should some or most land be held in common? How do open-source and creative commons concepts fit in?
</p>

<p>
If a local currency is involved, how are the risks of inflation and deflation addressed? Is the currency designed to be inflation-free? What “levers” does the system have for adjusting volume and circulation rates? Who controls the levers? How are data collected, and how often? 
</p>

<p>
How could a community best choose between two different economic system designs or two different policies? Is a minimum wage of $20 better than $15? Is a basic income of $2,000 per month better than $1,000? How about $10,000? In my <a href="https://ijccr.net/2014/10/14/first-micro-simulation-model-of-a-ledda-community-currency-dollar-economy/" target="blank">simulation of the LEDDA framework</a>, a local economic system, a pseudo minimum wage and basic income increases over time to reach the equivalent of about $110,000 annually per family. On what objective grounds could one approach be viewed as better than another?
</p>

<p>
There are many more questions like these that all lead to a second big question: <i>How could research, development, and implementation of more optimal systems best proceed?</i>
</p>

<p>
I argue that a viable, affordable, even attractive path exists, which I call <i>engage global, test local, spread viral</i>. 
</p>

<p>
The global part is to engage the global academic community, and science and technology sector, in partnership with all segments of society, in a first of its kind R&amp;D program focused on systematic study, simulation, and field testing of new system designs and benchmarking of results. I call this still nascent, unfunded program <i>wellbeing centrality</i>, due to the central role that collective wellbeing would play in better systems. 
</p>

<p>
The local part is to conduct field trials at the community, city, or county level, using volunteers (individuals, businesses, nonprofits, etc.) who organize as civic betterment clubs. This approach can allow testing by relatively small teams, at relatively low cost and risk, in coexistence (integrated with) with existing systems, and without legislative action. It can also allow many trials to occur in parallel, which speeds up the learning process.
</p>

<p>
The viral part is that systems that demonstrate clear benefits in local trials (higher incomes, more meaningful jobs, reduced crime, better health, etc.) will naturally spread horizontally, even virally, to other local areas. Over time, this could create an empowered global network of communities that cooperate in trade, education, research, the implementation of new systems, and in other ways. In time, this network would influence national and global society, and itself would be subject to testing and innovation.
</p>

<p>
If an R&amp;D wellbeing centrality program does move forward, your community or city might wish to be part of a field trial. You could request that one be held, and give input into its design. Whether or not a basic income is implemented or the minimum wage increased, participating in a trial could empower you and your community to demonstrate to the world that a far better future is possible. 
</p>

     
<br>
<p>
******<br>
      John Boik, PhD<br>
Author, <i>Economic Direct Democracy: A Framework to End Poverty and Maximize Well-Being</i> (2014) and founder, Principled Societies Project (<a href="http://www.PrincipledSocietiesProject.org">http://www.PrincipledSocietiesProject.org</a>).<br>
@JohnBoik
</p>

<p>
Please share and republish. <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-nd/4.0/80x15.png" /></a> This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nd/4.0/">Creative Commons Attribution-NoDerivatives 4.0 International License</a>.
</p> 

<h4>
Are you satisfied with current economic systems? Do you support R&amp;D on new ones? <a href="https://www.surveymonkey.com/r/DTZNC7G" target="blank">Take our survey</a> and tell us what you think.
</h4>
      
    </div>
  </div>  
</div>
<br>


{% endblock %}
